@use "sass:math";
@use "../../../../shared/styles/shared.scss" as *;

// search in game container
.searching {
  @include abs-center;
  @include wh100;

  z-index: 100;
  background-color: rgba(#000, 0.8);

  &__content {
    @include flex($direction: column, $gap: 3rem);
    @include rounded(2rem);

    position: relative;
    z-index: 10;
    height: 100%;
    background-color: rgba($gc9, 0.3);

    &__text {
      font-size: 2.6rem;
    }

    &__indicator {
      @include flex($gap: 1rem);

      .pawn {
        height: 3rem;
        transition: transform 0.3s;

        path {
          fill: $mc0;
          transition: fill 2s;
        }
      }

      .active {
        transform: translateY(-2rem) scale(1.2);

        path {
          fill: $mc9;
          transition: fill 0.1s;
        }
      }
    }

    &__background {
      @include square(60rem);

      position: absolute;
      z-index: -1;

      svg {
        g {
          transform: translate(16%, 16%);

          path {
            fill: rgba($mc9, 0.05);
            transition: all 1s;
          }
        }
      }

      .active-bg {
        g {
          path {
            @for $i from 1 through 16 {
              $row: math.ceil(calc($i / 4)) - 1;
              $col: ($i - 1) % 4 - 1.5;
              $translate-x: $col * 8;
              $translate-y: $row * 8 - 8;

              &:nth-child(#{$i}) {
                transform: translate(#{$translate-x}#{"%"}, #{$translate-y}#{"%"});
              }
            }
          }
        }
      }
    }

    button.cancel {
      @include button(2.6rem);
      @include main-m-button;
    }
  }
}
