@use "../../../shared/styles/shared.scss" as *;

// settings container
.settings {
  @include mainScrollbar();

  padding: 2rem;
  overflow-y: scroll;

  &__category {
    .category-header {
      font-size: 3rem;
    }
  }
}
//*/

// resize
//*/
