@import "../../../Main.scss";

.search {
  @include wh100();

  padding: 8rem 10rem;

  &__split {
    @include rounded(2rem);
    @include showAni();

    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100%;
    height: 100%;
    background-color: rgba($gc9, 0.3);
    padding-bottom: 3rem;

    &__bar {
      @include flex(column, start, center, 2rem);

      padding: 2rem 4rem;
      border-right: solid 0.3rem $gc9;

      h2 {
        font-size: 3.2rem;
      }

      .input-holder {
        @include flex();
        position: relative;

        input {
          @include cInput();
        }
        .input-search {
          margin: none;
        }
        .input-mail {
          padding-right: 4rem;
        }

        .send-icon {
          @include circle(4rem);

          position: absolute;
          right: -0.2rem;

          &:hover {
            cursor: pointer;
            filter: brightness(80%);
          }

          svg.arrow-svg {
            height: 100%;
          }
        }
      }

      .text {
        font-size: 1.8rem;
        text-align: center;
      }
    }
  }
}
