@import "../../../Main.scss";

.search {
  @include wh100();

  padding: 12rem 16rem;

  &__split {
    @include rounded(2rem);
    @include showAni();

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100%;

    height: 100%;

    background-color: rgba($gc9, 0.3);

    &__bar {
      @include flex(column, start, center, 2rem);

      padding: 2rem 4rem;
      border-right: solid 0.3rem $gc9;

      h2 {
        font-size: 3.2rem;
      }

      input {
        @include cInput();
      }

      .text {
        font-size: 1.8rem;
        text-align: center;
      }
    }
  }
}
