@import "../../../Main.scss";

// move record
.record {
  @include flex(row, start, start, 0);
  margin-bottom: 1.2rem;
  font-size: 1.6rem;

  .move {
    @include flex(row, start, center, 0.5rem);

    padding-left: 1rem;
    width: 100%;
    padding-bottom: 0.2rem;
    border-bottom: solid 0.1rem $gc8;
    height: 2rem;

    svg {
      height: 1.4rem;
    }

    span {
      color: $gc5;
    }
  }

  .turn {
    width: fit-content;
    margin-right: 1rem;
    color: $gc6;
  }

  .sep {
    width: fit-content;
    height: 2rem;
    color: $gc6;
    border-bottom: solid 0.1rem $gc8;
  }
}
//*/
