@use "../../../shared/styles/shared.scss" as *;
@use "../../Index.scss" as Index;

// home section container
.section {
  position: relative;
  width: 100%;
  height: 80rem;

  // to hide the gap
  &::before {
    @include sub-class;

    top: -0.2rem;
    height: 10rem;
    background-color: #000;
  }

  &__content {
    position: relative;
    z-index: 3;
    width: 100%;
    height: 64rem;
    border-bottom-left-radius: Index.$border-radius;
    background-image: linear-gradient(#0000 0%, #000 100%), url("/images/hero-background.jpg");
    background-color: #000;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    box-shadow: calc(-1 * Index.$border-width) Index.$border-width 0 0 Index.$border-color;

    // sub elements
    @mixin sub-element() {
      @include sub-class(10rem, 10rem);

      border: solid Index.$border-width Index.$border-color;
      border-left: none;
    }

    &::after {
      @include sub-element;

      z-index: 1;
      top: 64rem;
      left: calc(100% - 60rem - 12rem);
      border-bottom: none;
      border-top-right-radius: 16rem;
      box-shadow: 4rem -4rem 0 1rem #000;
    }

    &::before {
      @include sub-element;

      z-index: 2;
      top: calc(64rem - 10rem);
      left: calc(100% - 60rem - 12rem);
      border-top: none;
      border-bottom-right-radius: 16rem;
    }

    // home intro
    &__intro {
      @include flex(column, center, center, 3rem);

      position: absolute;
      left: 6rem;
      top: 16rem;
      width: 80rem;
      padding: 6rem;
      overflow: hidden;
      border-radius: 8rem;
      border: solid 0.2rem rgba($gc9, 0.1);
      backdrop-filter: blur(1rem);
      background-color: rgba($gc9, 0.1);
      background-image: linear-gradient(
        60deg,
        #0000 18%,
        rgba($gc9, 0.1) 20%,
        rgba($gc9, 0.1) 28%,
        rgba($gc8, 0.1) 30%,
        rgba($gc8, 0.1) 32%,
        rgba($gc9, 0.1) 34%,
        rgba($gc9, 0.1) 50%,
        #0000 52%
      );

      h1.page-title {
        width: 100%;
        padding: 0.8rem 6.4rem;
        border: 0.5rem solid #0000;
        text-align: center;
        user-select: none;
        background: conic-gradient(from 90deg at top 0.6rem left 0.6rem, #0000 90deg, $gc0 0) 0 0 / 4rem 4rem border-box
            no-repeat,
          conic-gradient(from -90deg at bottom 0.6rem right 0.6rem, #0000 90deg, $gc0 0) 100% 100% / 4rem 4rem
            border-box no-repeat;

        span {
          font-size: 4rem;
          text-shadow: -0.5rem 0.5rem #000;
        }
      }

      p.home-text {
        display: block;
        font-size: 2rem;
        color: $gc5;
        text-align: justify;
        text-shadow: 0.1rem 0.1rem #000;
      }
    }
  }
}

// resize
@media (width <= 1250px) {
  .section {
    margin-bottom: 50rem;

    &__content {
      &::after {
        box-shadow: 1rem -4rem 0 1rem #000;
      }

      &::before {
        display: none;
      }

      &__intro {
        width: 100rem;
        max-width: calc(100% - 4rem);
        top: 2rem;
        left: 50%;
        transform: translateX(-50%) !important;
        padding: 4rem;
        padding-top: 10rem;

        h1.page-title {
          width: 80%;
        }

        p.home-text {
          width: 80%;
        }
      }
    }
  }
}

@media (width <= 500px) {
  .section {
    &__content {
      &::after {
        display: none;
      }
    }
  }
}

@media (width <= 360px) {
  .section {
    &__content {
      &__intro {
        h1.page-title {
          span {
            font-size: 3rem;
          }
        }

        p.home-text {
          font-size: 1.8rem;
        }
      }
    }
  }
}

@media (width <= 280px) {
  .section {
    &__content {
      &__intro {
        h1.page-title {
          span {
            font-size: 2.4rem;
          }
        }

        p.home-text {
          font-size: 1.6rem;
        }
      }
    }
  }
}

@media (width >= 800px) {
  .section {
    &__content {
      &__intro {
        &.show {
          @include emerge-ani(0.6s, 0s, 6rem);
        }
      }
    }
  }
}
