@import '../../Index.scss';

.nav {
  @include flex(row, center, center, 0);

  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  max-width: 160rem;
  margin-top: 4.8rem;

  user-select: none;
  pointer-events: none;

  transition:
    margin-top 0.5s,
    transform 0.5s;

  // navbar
  .nav-bar {
    @include flex(row, space-between, center, 0);

    position: relative;
    z-index: 10;
    width: calc(4rem * 2 + 4.8rem * 4 + 0.4rem * 6);
    padding: 0.8rem 4rem;

    border-radius: 0.8rem;
    background-color: $gc9;
    box-shadow: 0 0 0 0.3rem $gc8;
    pointer-events: all;

    .nav-element {
      @include flex(column, center, center, 0);

      position: relative;
      width: 4.8rem;

      color: $gc0;
      text-align: center;
      text-decoration: none;
      font-weight: 500;
      font-size: 1.2rem;

      &::after {
        @include subCl(1rem, 1rem);
        @include circle(1em);

        z-index: -1;
        filter: blur(1rem);
        transition: all 0.3s;
      }

      &:hover {
        &:not(.active) {
          &::after {
            background-color: rgba($mc0, 0.5);
            box-shadow: 0 0 0 0.3rem rgba($mc0, 0.5);
          }
        }
      }

      span.text {
        position: relative;
        display: block;
        line-height: 3.2rem;
        max-width: 3.2rem;
        opacity: 0;

        color: $gc3;
        overflow: hidden;
        transition: all 0.3s;
        transform: translateY(-1.6rem);
      }

      span.icon {
        @include flex(row, center, center, 0);
        position: absolute;
        width: fit-content;
        z-index: 1;

        font-size: 2.4rem;
        transition: all 0.3s;

        svg.icon {
          @include square(50%);
          stroke-width: 2;
          transition: all 0.3s;
        }
      }

      &.active span.text {
        opacity: 1;
        transform: translateY(-0.8rem);
      }
      &.active span.icon {
        transform: translateY(2.8rem);

        svg.icon {
          width: 40%;
        }
      }

      @for $i from 1 through 4 {
        &:nth-child(#{$i}).active ~ .indicator {
          transform: translateX((4.8rem + 0.8rem) * ($i - 1));
        }
      }
    }

    .indicator {
      @include circle(4.8rem);

      position: absolute;
      bottom: -2.8rem;
      box-sizing: border-box;

      background-color: $mc9;
      border: solid 0.6rem #000;
      transition: all 0.5s;
    }
  }
  // end navbar
}

.nav-sticky {
  margin-top: 1.6rem;

  &::after {
    display: none;
  }

  .nav-actions {
    top: 0.6rem;
    right: 0;

    background-color: $gc9;
    box-shadow: 0 0 0 0.3rem $gc8;

    transition:
      top 0.5s,
      right 0.5s,
      background-color 0.3s 0.5s,
      box-shadow 0.3s 0.5s;

    button {
      &:nth-child(1) {
        width: 0;
        opacity: 0;
        padding: 0;
      }
    }
  }

  .nav-bar {
    .indicator {
      border-color: $mc9;
      background-color: $gc9;
      box-shadow: 0 0 0.3rem 0.1rem $mc7;
    }
  }
}

.nav-none {
  transform: scale(0);
  transition: transform 0.1s;
}
