@use "../../../../shared/styles/shared.scss" as *;

.messages {
  @include wh100();

  display: grid;
  grid-template-rows: auto 6rem;
  gap: 1rem;
  transition: height 0.3s;

  &.closed {
    height: 3rem;
  }

  &.closed &__list {
    display: none;
  }

  &.closed &__actions {
    display: none;
  }

  &__list {
    overflow-y: scroll;

    &::-webkit-scrollbar {
      display: none;
    }

    .typing {
      @include flex(row, start, center, 0.8rem);

      padding: 0.8rem 4rem;

      p {
        @include circle(0.8rem);

        background-color: $gc5;
        animation: typingAnimation 1.2s infinite;

        &:nth-child(1) {
          animation-delay: 0.2s;
        }
        &:nth-child(2) {
          animation-delay: 0.4s;
        }
        &:nth-child(3) {
          animation-delay: 0.6s;
        }
      }
    }

    @keyframes typingAnimation {
      0% {
        transform: translateY(0);
      }
      20% {
        transform: translateY(-0.5rem);
      }
      40% {
        transform: translateY(0);
      }
    }
  }

  &__actions {
    $input-size: 1.6rem;

    @include flex(row, start, center, 1rem);

    textarea.message-input {
      @include cInput($input-size, $gc9, $gc5);

      & {
        width: 100% !important;
        height: calc(3 * $input-size) !important;
        resize: none;
        border: solid 0.2rem $gc8;
        text-align: start;
        border-radius: 1.6rem;
        padding: 0.4rem 1.6rem;
      }

      &:focus {
        border-color: $gc7;
      }

      &::-webkit-scrollbar {
        display: none;
      }
    }

    button.send-button {
      @include flex();
      @include circle(3 * $input-size);

      background-color: #0000;
      border: none;
      flex-shrink: 0;

      &:hover {
        cursor: pointer;
        filter: brightness(80%);
      }

      svg.send-svg {
        height: 3rem;
      }
    }
  }
}

// resize
@media (max-width: 1000px) {
  .messages {
    @include square(36rem);

    .mess-icons {
      position: absolute;

      &.x {
        top: 2rem;
        right: 2rem;
      }

      &.arrow {
        top: 0;
        left: 50%;
        transform: translateX(-50%);
      }

      &:hover {
        cursor: pointer;
        filter: brightness(70%);
      }

      .x-icon {
        height: 4rem;
      }

      .arrow-icon {
        height: 3rem;
        transform: rotate(-90deg);
      }
    }

    &:not(.closed) {
      padding: 2rem;
    }
  }
}
//
