@use "../../../shared/styles/shared.scss" as *;

// vs-friend search container
.search {
  @include wh100();

  padding: 6rem 10rem;

  &__split {
    @include rounded(2rem);
    @include showAni();

    & {
      position: relative;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 100%;
      height: 100%;
      background-color: rgba($gc9, 0.3);
      padding-bottom: 3rem;
    }

    &__bar {
      @include flex(column, start, center, 3rem);

      width: 100%;
      padding: 2rem 4rem;
      border-right: solid 0.3rem $gc9;

      h2.invite-title {
        font-size: 3.2rem;
      }
    }

    &__list {
      @include wh100();

      position: relative;
      max-width: 100%;
      overflow: hidden;
      padding-bottom: 2rem;
    }

    .game-link {
      @include absCenter();
      @include rounded(2rem);

      z-index: 1;
      background-color: #111;

      &:hover {
        cursor: pointer;
        filter: brightness(60%);
      }

      span {
        font-size: 2rem;
      }
    }
  }
}

// resize

@media (max-width: 1100px) {
  .search {
    height: 100%;
    padding: 0;

    &__split {
      background-color: #0000;
      border-radius: 0;
      grid-template-columns: 1fr;
      grid-template-rows: 36rem auto;

      &__bar {
        border: none;
        gap: 1rem;
      }
    }
  }
}
