@use "../../../../shared/styles/shared.scss" as *;

// game section container
.games {
  @include rounded(2rem);

  position: relative;
  z-index: 1;
  width: fit-content;
  background-color: rgba(#111, 0.5);
  border: solid 0.1rem $gc9;
  backdrop-filter: blur(1rem);

  &__header {
    @include flex(row, start, center, 1rem);

    padding-left: 1rem;
    margin-bottom: 1rem;

    span {
      font-size: 2rem;
    }

    .header-icon {
      height: 2rem;
    }
  }

  &__cards {
    display: grid;
    grid-template-columns: auto 5rem;

    // list of game cards or empty cards
    &__list {
      @include flex;

      position: relative;
      padding: 0.5rem;
      overflow: hidden scroll;
      gap: 2rem;

      &::-webkit-scrollbar {
        width: 1rem;
        background-color: #0000;

        &-thumb {
          background-color: $gc9;
          border-radius: 1rem;
        }
      }

      &.empty {
        overflow: hidden;
      }
    }

    &__button {
      @include rounded(1rem);

      position: relative;

      &:hover {
        cursor: pointer;

        svg.more-arrow {
          g {
            g {
              fill: $gc0;
            }
          }
        }
      }

      svg.more-arrow {
        @include abs-center;

        height: 4rem;

        &:first-child {
          left: 2rem;
        }

        &:last-child {
          left: 3rem;
        }
      }
    }
  }
}

// resize
@media (width <= 700px) {
  .games {
    height: 100%;
    overflow: hidden;
    padding: 4rem 2rem;

    &__list {
      height: calc(100% - 10rem);
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
