@import "../../styles/commons-styles/elements.scss";

// avatar image default styles
.avatar-image {
  @include flex();
  border-radius: 100%;

  .avatar {
    height: 2rem;
    object-fit: cover;
  }
}
//*/
