@use "../../../shared/styles/shared.scss" as *;

@mixin input-button($size) {
  @include circle($size);
  @include flex;

  position: absolute;
  top: 0;
  right: 0;

  &::after {
    @include rounded(0.4rem);
    @include sub-class(fit-content, fit-content);

    display: none;
    content: "";
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    color: #000;
    background-color: $gc1;
    font-size: 1.2rem;
  }

  &:hover {
    cursor: pointer;

    &::after {
      display: block;
    }
  }

  svg.input-button-svg {
    height: 60%;
  }
}

// all modal styles
// register container form
.registration-form {
  @include flex(column, center, center, 1rem);

  position: relative;
  height: 100%;
  padding: 0 6rem;
  margin: 0 4rem;
  border-radius: 4rem;
  border: solid 1rem rgba($mc4, 0.5);
  background-color: $gc9;
  box-shadow: 0 0 1rem 0 $mc9;
  animation: form-open-animation 0.5s;

  .bg-svg {
    position: absolute;
    z-index: 0;
    bottom: 4rem;
    right: 4rem;
    height: 40rem;
    opacity: 0.02;
    pointer-events: none;
    transform: rotate(-10deg);
  }

  h2.form-title {
    font-size: 3.2rem;
    margin-bottom: 1rem;
  }

  // sing in / sign up inputs
  .inputs {
    @include flex(column, start, center, 1.6rem);

    margin-top: 2rem;

    .form-row {
      position: relative;
      z-index: 1;
      width: 100%;
      max-width: 26rem;

      &.row-disabled {
        filter: brightness(50%);
        opacity: 0.5;
        user-select: none;
        pointer-events: none;
        cursor: not-allowed;
      }

      .form-input {
        @include t-input(2rem);

        width: 100%;
        max-width: 26rem;
        padding-right: 4rem;

        &:focus ~ .reg-pass-ind {
          opacity: 1;
        }

        &:focus ~ .arrow {
          opacity: 1;
        }

        &:focus ~ .paste {
          svg {
            fill: $gc0;
          }
        }

        &:focus ~ .send {
          path {
            stroke: $gc0;
          }
        }

        &:focus ~ .eye {
          path {
            stroke: $gc0;
          }
        }
      }

      input[type="number"]::-webkit-inner-spin-button,
      input[type="number"]::-webkit-outer-spin-button {
        appearance: none;
      }

      @mixin reset-input-button() {
        top: unset;
        right: -1rem;
        bottom: 0;
        border-radius: 1rem;
        border-bottom-left-radius: 0;
      }

      .send {
        @include input-button(4rem);
        @include reset-input-button;

        &::after {
          content: "Send";
        }
      }

      .paste {
        @include input-button(4rem);
        @include reset-input-button;

        &::after {
          content: "Paste";
        }
      }

      .eye {
        @include input-button(4rem);
        @include reset-input-button;

        &.open {
          &::after {
            content: "Show";
          }
        }

        &.close {
          &::after {
            content: "Hide";
          }
        }
      }

      .err {
        &::placeholder {
          color: $danger-color-m;
        }
      }

      .arrow {
        position: absolute;
        height: 1.6rem;
        top: 50%;
        left: -2rem;
        transform: translateY(-50%) rotateY(180deg);
        opacity: 0;
      }

      .reg-pass-ind {
        @include circle(2rem);

        position: absolute;
        right: calc(-2rem - 1rem);
        bottom: 1rem;
        opacity: 0;
      }
    }
  }

  // verification modal elements
  .verify-text {
    font-size: 1.6rem;
    font-weight: 500;
    text-align: center;
  }

  .verify {
    @include flex(column, start, center, 1rem);

    position: relative;
    z-index: 1;
    margin: 2rem;

    span {
      font-size: 2rem;
      user-select: none;
    }

    .verify-con {
      position: relative;

      .verify-input {
        @include c-input(2.4rem, $gc0, $mc9);

        width: 18rem;
        text-align: start;
        letter-spacing: 0.5rem;
      }

      input[type="number"]::-webkit-inner-spin-button,
      input[type="number"]::-webkit-outer-spin-button {
        appearance: none;
      }

      .paste {
        @include input-button(4.5rem);
      }
    }

    .resend {
      font-size: 1.4rem;
      color: $mc5;
      text-decoration: underline;

      &:hover {
        cursor: pointer;
        color: $mc4;
      }
    }
  }

  // errors
  .error {
    span {
      font-size: 1.4rem;
      color: $danger-color-m;
    }
  }

  // buttons
  button.registration-button {
    @include button(2rem);
    @include main-m-button;

    width: 100%;
    position: relative;
    margin: 1rem;
    z-index: 1;
    padding: 1rem 0;
  }

  .cancel {
    font-size: 1.4rem;
    color: $danger-color-m;
    text-decoration: underline;

    &:hover {
      cursor: pointer;
      color: $danger-color-l;
    }
  }

  .change-form {
    position: relative;
    z-index: 1;
    font-size: 1.4rem;
    color: $gc1;

    span {
      color: $mc5;
      text-decoration: underline;
      user-select: none;

      &:hover {
        cursor: pointer;
        color: $mc4;
      }
    }
  }

  @keyframes form-open-animation {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
}

// resize
@media (width <= 700px) {
  .registration-form {
    gap: 2rem;

    h2.form-title {
      font-size: 4rem;
    }

    .change-form {
      font-size: 1.6rem;
    }

    .inputs {
      gap: 2rem;

      .form-row {
        .form-input {
          font-size: 2.4rem;
        }
      }
    }

    button.registration-button {
      font-size: 3rem;
    }
  }
}
