@import "../../../shared//styles/Components.scss";

.navigation {
  @include flexBlock(row, 0, center, center);

  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;

  width: 100%;
  margin-top: 4.8rem;
  user-select: none;

  transition: margin-top 0.5s;

  .nav-logo {
    @include flexBlock(row, 2rem, center, center);
    position: absolute;
    top: 50%;
    left: 6.4rem;
    transform: translateY(-50%);

    transition: all 0.5s;

    a {
      text-decoration: none;
      width: fit-content;
      height: fit-content;

      &:hover {
        cursor: pointer;
      }

      svg {
        height: 8rem;
        transition: height 0.5s;
      }
    }

    p {
      font-size: 6rem;
      font-family: "Knewave";
      transition: opacity 0.5s;
    }
  }

  .nav-actions {
    @include flexBlock(row, 0, center, center);
    position: absolute;
    top: 50%;
    right: 6.4rem;
    transform: translateY(-50%);

    padding: 0.6rem 1.2rem;
    border-bottom-left-radius: $small_br;

    transition: top 0.5s, right 0.5s, background-color 0s 0s, box-shadow 0s 0s;

    button {
      @include Button(1.6rem);
      background-color: #0000;

      transition: all 0.5s;

      &:hover {
        span {
          &::after {
            width: 100%;
          }
        }
      }

      span {
        color: $gcolor3;
        transition: color 0.5s;

        &::after {
          content: "";
          margin-top: 0.3rem;
          display: block;
          height: 0.2rem;
          width: 0;
          background-color: $gcolor3;
          transition: all 0.3s;
        }
      }

      &:nth-last-child(1) {
        span {
          color: $mcolor3;
          &::after {
            background-color: $mcolor3;
          }
        }
      }
    }
  }

  .nav {
    @include flexBlock(row, 0, space-between, center);

    position: relative;
    z-index: 10;
    width: calc(4rem * 2 + 4.8rem * 4 + 0.4rem * 6);

    border-radius: 0.8rem;

    padding: 0.8rem 4rem;
    background-color: $gcolor9;
    box-shadow: 0 0 0 0.3rem $gcolor8;

    .nav_element {
      @include flexBlock(column, 0, center, center);

      position: relative;
      width: 4.8rem;

      color: $gcolor0;
      text-align: center;
      text-decoration: none;
      font-weight: 500;
      font-size: 1.2rem;

      &::after {
        content: "";
        z-index: -1;
        position: absolute;
        @include squareBlock(1em);

        filter: blur(1rem);
        border-radius: 100%;
        transition: all 0.3s;
      }

      &:hover {
        &:not(.active) {
          &::after {
            background-color: rgba($mcolor0, 0.5);
            box-shadow: 0 0 0 0.3rem rgba($mcolor0, 0.5);
          }
        }
      }

      span.text {
        position: relative;
        display: block;
        line-height: 3.2rem;
        max-width: 3.2rem;
        opacity: 0;

        color: $gcolor3;
        overflow: hidden;
        transition: all 0.3s;
        transform: translateY(-1.6rem);
      }

      span.icon {
        @include flexBlock(row, 0, center, center);
        position: absolute;
        width: fit-content;
        z-index: 1;

        font-size: 2.4rem;
        transition: all 0.3s;

        svg.icon {
          @include squareBlock(50%);
          stroke-width: 2;
          transition: all 0.3s;
        }
      }

      &.active span.text {
        opacity: 1;
        transform: translateY(-0.8rem);
      }
      &.active span.icon {
        transform: translateY(2.8rem);

        svg {
          width: 40%;
        }
      }

      @for $i from 1 through 4 {
        &:nth-child(#{$i}).active ~ .indicator {
          transform: translateX((4.8rem + 0.8rem) * ($i - 1));
        }
      }
    }

    .indicator {
      position: absolute;
      bottom: -2.8rem;
      width: 4.8rem;
      height: 4.8rem;
      box-sizing: border-box;

      background-color: $mcolor9;
      border-radius: 100%;
      border: solid 0.6rem #000;
      transition: all 0.5s;
    }
  }
}

.nav-sticky {
  margin-top: 1.6rem;

  .nav-logo {
    top: -3.2rem;
    left: 0.6rem;
    transform: translateY(0%);
    a {
      svg {
        height: 4rem;
      }
    }

    p {
      opacity: 0;
    }
  }

  .nav-actions {
    top: 0.6rem;
    right: 0;

    background-color: $gcolor9;
    box-shadow: 0 0 0 0.3rem $gcolor8;

    transition: top 0.5s, right 0.5s, background-color 0.3s 0.5s,
      box-shadow 0.3s 0.5s;

    button {
      &:nth-child(1) {
        width: 0;
        opacity: 0;
        padding: 0;
      }
    }
  }

  .nav {
    .indicator {
      border-color: $mcolor9;
      background-color: $gcolor9;
      box-shadow: 0 0 0.3rem 0.1rem $mcolor7;
    }
  }
}
