@use "../../../shared/styles/shared.scss" as *;

$line-width: 0.2rem;

// hero section container
.section {
  position: relative;
  width: 100%;
  height: 120rem;
  background-color: #000;
  overflow: hidden;

  &__container {
    @include wh100;

    position: relative;
    background-image: linear-gradient(to bottom, rgba(#000, 0.6) 0%, rgba(#000, 0.6) 100%), url("/images/hero-bg.jpg");
    background-size: cover;
    background-position: center;
    background-color: #000;

    &__bg {
      @include abs-center;
      @include wh100;

      z-index: 2;
      background-color: rgba(#000, 0.1);
      pointer-events: none;
    }

    // content
    &__content {
      @include flex(column, end, start, 4rem);

      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 100vh;
      max-height: 80rem;
      padding: 4rem 10rem;
      user-select: none;

      h1.hero-title {
        width: 100%;
        font-size: 10rem;
        font-weight: 100;
        letter-spacing: -0.6rem;
        line-height: 8rem;

        .span-n {
          color: $gc0;
          text-shadow: 0.2rem 0.1rem $gc3;
          filter: drop-shadow(0 0 0.2rem $gc3);
        }

        .span-f {
          color: $mc3;
          text-shadow: 0.2rem 0.1rem $mc4;
          filter: drop-shadow(0 0 0.2rem $mc4);
        }
      }

      h2.hero-subtitle {
        @include rounded(1rem);

        font-size: 4rem;
        font-weight: 100;
        color: $gc3;
        text-shadow: 0.2rem 0.1rem $gc7;
        background-color: rgba(#000, 0.6);
      }

      .begin-button {
        @include circle(12rem);
        @include flex;

        position: absolute;
        right: 10rem;
        bottom: 4rem;
        text-decoration: none;
        font-size: 10rem;
        border: solid $line-width $mc0;
        transition: box-shadow 1s;

        p.arrow-zoom {
          @include square(5rem);

          border-bottom-right-radius: 1rem;
          box-shadow: $line-width $line-width 0 0 $gc0;
          rotate: 45deg;
          transform: translate(-20%, -20%);
          transition: all 1s;
        }

        &:hover {
          cursor: pointer;
          box-shadow: inset 0 0 0 6rem $mc0;

          p.arrow-zoom {
            box-shadow: 1rem 1rem 0 0 $gc9;
            scale: 0.7;
          }
        }
      }
    }
  }
}

// resize
@media (width <= 1000px) {
  .section {
    &__container {
      &__content {
        max-height: 100%;
      }
    }
  }
}

@media (width <= 700px) {
  .section {
    height: 100dvh;

    &__container {
      &__content {
        @include flex(column, end, start, 4rem);

        height: 100%;
        padding: 10rem 2rem;

        h1.hero-title {
          font-size: 7rem;
          letter-spacing: -0.2rem;
        }

        h2.hero-subtitle {
          font-size: 3.2rem;
        }

        .begin-button {
          display: none;
        }
      }
    }
  }
}

@media (height <= 350px) {
  .section {
    &__container {
      &__content {
        padding: 1rem;
        gap: 1rem;

        h1.hero-title {
          font-size: 5rem;
          line-height: 5rem;
        }

        h2.hero-subtitle {
          font-size: 2rem;
        }
      }
    }
  }
}

@media (height <= 200px) {
  .section {
    &__container {
      &__content {
        padding: 1rem;
        gap: 1rem;

        h1.hero-title {
          font-size: 3rem;
          line-height: 3rem;
        }

        h2.hero-subtitle {
          font-size: 1.6rem;
        }
      }
    }
  }
}

@media (width >= 3000px) {
  .section {
    &__container {
      &__bg {
        background-image: radial-gradient(ellipse at 50% 50%, #0000 60%, #000 70%, #000 100%) !important;
      }

      &__content {
        .begin-button {
          display: none;
        }
      }
    }
  }
}
