@use "../../../shared/styles/shared.scss" as *;

$index-border-width: 2rem;
$index-border-radius: 16rem;
$index-border-color: rgb(67, 43, 137);

// footer section container
.footer {
  position: relative;
  background-color: #000;
  padding: 8rem;
  padding-bottom: 0;
  box-shadow: calc(-1 * $index-border-width) calc(-1 * $index-border-width) 0 0 $index-border-color;

  &::before {
    @include subCl(16rem, 16rem);

    top: calc(-2rem - 16rem);
    right: -2rem;

    border: solid $index-border-width $index-border-color;
    border-top: none;
    border-left: none;
    border-bottom-right-radius: $index-border-radius;
    box-shadow: 0rem 10rem 0 #000;
  }

  &__intro {
    padding-bottom: 8rem;

    .footer-title {
      @include flex(row, start, center, 2rem);
      @include secFont(6rem);

      font-size: 6rem;
      color: $mc5;
      font-weight: 600;

      .footer-logo {
        height: 6rem;
      }
    }
  }

  // footer grid content
  &__grid {
    display: grid;
    grid-template-columns: 50rem 1fr 1fr;
    padding-bottom: 8rem;
    gap: 2rem;

    &__col {
      @include flex(column, start, start, 2rem);

      border-right: solid 0.1rem #111;

      &:last-child {
        border: none;
      }

      h3.col-title {
        font-size: 4rem;
        margin-bottom: 2rem;
        border-bottom: dashed 0.1rem $mc0;
        padding: 0 1rem;
      }

      .contact {
        @include flex(row, start, center, 1rem);

        position: relative;

        p.contact-data {
          font-size: 2.4rem;
        }

        svg.flag-svg {
          height: 2rem;
        }

        svg.at-svg {
          height: 2rem;
        }
      }

      a.link {
        color: $gc0;
        text-decoration: none;

        &:visited {
          color: $gc5;
        }

        &:hover {
          .facebook-svg {
            fill: rgba(#3b5998, 0.8);
          }

          .instagram-svg {
            g {
              g {
                fill: rgba(#833ab4, 0.8);
              }
            }
          }

          .tiktok-svg {
            fill: rgba(#ff0050, 0.8);
          }

          .youtube-svg {
            g {
              g {
                fill: rgba(#ff0000, 0.8);
              }
            }
          }

          .twitter-svg {
            path {
              fill: rgba(#1da1f2, 0.8);
            }
          }
        }

        .element {
          @include flex(row, start, center, 2rem);

          position: relative;

          &:hover {
            cursor: pointer;

            p.action-text {
              &::after {
                width: 100%;
              }
            }

            svg.r-arr {
              transform: translateX(0);
              opacity: 1;

              circle {
                fill: $gc0;
              }

              rect {
                fill: #000;
              }
            }
          }

          p.action-text {
            font-size: 2rem;

            &::after {
              @include subCl(0, 0.2rem);

              position: unset;
              display: block;
              margin-top: 0.3rem;
              background-color: $gc3;
              transition: all 0.3s;
            }
          }

          @mixin rowSvg() {
            height: 2rem;
            width: 2rem;
          }

          svg.social-svg {
            @include rowSvg();
          }

          svg.legal-svg {
            @include rowSvg();
          }

          .r-arr {
            @include rowSvg();

            opacity: 0;
            transform: translateX(-2rem);
            transition: all 0.3s;

            circle {
              fill: #000;
              transition: all 0.3s;
            }

            rect {
              fill: $mc0;
              transition: all 0.3s;
            }
          }
        }
      }
    }
  }
  //*/

  &__outro {
    text-align: center;
    padding: 1rem;
  }
}

// resize
@media (max-width: 700px) {
  .footer {
    padding: 2rem;

    &::before {
      border-bottom-right-radius: 10rem;
    }

    &__grid {
      @include flex(row, space-between, start, 0);

      &__col {
        gap: 1rem;

        h3 {
          font-size: 3rem;
          margin-bottom: 1rem;
        }

        .contact {
          p {
            font-size: 2rem;
          }
        }
      }
    }
  }
}
//*/
