@import "../../Index.scss";

// faq container
.section {
  @include wh100();

  position: relative;
  padding-top: 10rem;
  background-color: #000;
  border-top-right-radius: $xl-br;
  box-shadow: 2rem -2rem 0 0 rgb(67, 43, 137);

  &::before {
    @include subCl($xl-br, $xl-br);

    top: calc(-2rem - $xl-br);
    left: -2rem;

    border: solid 2rem rgb(67, 43, 137);
    border-top: none;
    border-right: none;
    border-bottom-left-radius: $xl-br;
    box-shadow: 0rem 10rem 0 #000;
  }

  &__intro {
    width: 100%;
    padding-left: 8rem;
    margin-bottom: 8rem;

    h2 {
      font-size: 6rem;
      color: $mc5;
      user-select: none;
    }
  }

  &__content {
    display: grid;
    grid-template-columns: 10rem auto 10rem;
    grid-template-rows: 2rem 1fr 2rem 1fr;
    padding-bottom: 6rem;

    &__category {
      @include longText();

      height: fit-content;
      grid-column: 1 / -1;
      padding-left: 8rem;

      color: $mc2;
      font-size: 4rem;
      user-select: none;
    }

    &__arrow {
      @include flex();

      filter: brightness(60%);

      svg {
        height: 4rem;
        transition: all 0.3s;
      }

      .arrow-left {
        transform: rotateZ(180deg);
      }
      .arrow-right {
        transform: rotateZ(0deg);
      }

      &:hover {
        filter: brightness(100%);

        svg {
          cursor: pointer;
          height: 6rem;
        }
      }
    }

    &__row {
      @include flex(row, space-evenly, center, 0);

      overflow-x: scroll;
      overflow-y: hidden;
      padding: 6rem 0;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}
//*/

// resize
@media (max-width: 700px) {
  .faq {
    border-top-right-radius: 10rem;

    &::before {
      border-bottom-left-radius: 10rem;
    }

    &__intro {
      h2 {
        font-size: 5rem;
      }
    }

    &__content {
      &__category {
        font-size: 3rem;
      }
    }
  }
}
//*/
