@use "../../../shared/styles/shared.scss" as *;
@use "../../Index.scss" as Index;

// faq container
.section {
  @include wh100();

  position: relative;
  padding-top: 10rem;
  background-color: #000;
  border-top-right-radius: Index.$border-radius;
  box-shadow: Index.$border-width calc(-1 * Index.$border-width) 0 0 Index.$border-color;

  &::before {
    @include subCl(16rem, 16rem);

    top: calc(-2rem - 16rem);
    left: -2rem;

    border: solid Index.$border-width Index.$border-color;
    border-top: none;
    border-right: none;
    border-bottom-left-radius: Index.$border-radius;
    box-shadow: 0rem 10rem 0 #000;
  }

  &__intro {
    width: 100%;
    padding-left: 8rem;
    margin-bottom: 8rem;

    h2 {
      font-size: 6rem;
      color: $mc5;
      user-select: none;
    }
  }

  &__content {
    $category-size: 8rem;
    $indicator-size: 2rem;

    display: grid;
    grid-template-columns: 10rem auto 10rem;
    grid-template-rows: $category-size 1fr $indicator-size $category-size 1fr $indicator-size;
    padding-bottom: 6rem;

    &__category {
      @include flex(row, start, center, 2rem);
      @include longText();

      height: $category-size;
      grid-column: 1 / -1;
      padding-left: 8rem;

      h3.cat-text {
        font-size: calc($category-size * 0.5);
        user-select: none;
        color: $mc3;
      }

      @mixin catIcon() {
        @include flex();
        @include circle(calc($category-size * 0.7));

        padding: 1rem;
        background-color: rgba($mc9, 0.5);
      }

      .account-category-icon {
        @include catIcon();
      }
      .gameplay-category-icon {
        @include catIcon();
      }
    }

    &__arrow {
      // border: solid 1rem red;

      @include flex();

      filter: brightness(60%);

      &.left-side {
        border-top-right-radius: 4rem;
        border-bottom-right-radius: 4rem;
      }

      &.right-side {
        border-top-left-radius: 4rem;
        border-bottom-left-radius: 4rem;
      }

      @mixin arrowSvg($deg) {
        height: 4rem;
        transition: all 0.3s;
        transform: rotateZ($deg);
      }

      .arrow-left {
        @include arrowSvg(180deg);
      }

      .arrow-right {
        @include arrowSvg(0deg);
      }

      &:hover {
        cursor: pointer;
        filter: brightness(100%);
        background-color: rgba($gc9, 0.2);

        svg {
          height: 6rem;
        }
      }

      &.inactive-arrow {
        &:hover {
          cursor: default;
          background-color: #0000;
        }
      }
    }

    &__row {
      // border: solid 1rem red;

      @include flex(row, space-evenly, center, 0);

      overflow-x: scroll;
      overflow-y: hidden;
      padding: calc($category-size / 2) 0;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    &__indicator {
      @include flex($gap: 1rem);

      height: $indicator-size;
      grid-column: 1 / -1;

      .ind-point {
        @include circle(calc($indicator-size * 0.6));
        background-color: $mc7;
        opacity: 0.2;

        &.active {
          opacity: 1;
        }
      }
    }
  }
}

// resize
@media (max-width: 700px) {
  .section {
    border-top-right-radius: 10rem;

    &::before {
      border-bottom-left-radius: 10rem;
    }

    &__intro {
      h2 {
        font-size: 5rem;
      }
    }

    &__content {
      &__category {
        h3.cat-text {
          font-size: 3rem;
        }
      }
    }
  }
}
