@import "../../Main.scss";

.game {
  @include wh100();

  &__content {
    height: 100%;
    display: grid;
    grid-template-columns: 75% auto;

    &__col {
      height: 100%;

      .game-interface {
        height: 100%;
        max-height: 100vh;
        // padding: 12rem 16rem;
      }

      .game-buttons {
        @include flex(column, start, center, 0.6rem);

        height: 100%;
        padding: 2rem;
        background-color: $gc9;

        button {
          @include button(2.4rem);
          @include mainGButton();
          @include flex($gap: 1.2rem);

          width: 100%;
          padding: 2rem;
          background-color: rgba($gc8, 0.3);
          border-radius: 1rem;
          border-width: 0.2rem;

          .button-icon {
            height: 2.4rem;
          }

          &:focus {
            box-shadow: none;
          }
        }
      }
    }
  }
}
