@import "../../Main.scss";

// friend list container
.friends {
  @include mainScrollbar($bgColor: #0000);

  & {
    position: relative;
    height: 100%;
    padding: 2rem 4rem;
    padding-bottom: 16rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    overflow-y: scroll;
    overflow-x: hidden;
    grid-gap: 2rem;
    grid-auto-rows: max-content;
  }

  // empty list fill
  &.template {
    overflow: hidden;
  }

  &__indicator {
    @include rounded(1rem);
    @include flex();

    position: fixed;
    bottom: 1rem;
    left: 75%;
    transform: translateX(calc(-6rem - 25%)); //padding
    background-color: $gc9;
    opacity: 0.5;
    font-size: 1.2rem;
    z-index: 1;
  }
}
//*/

// resize
// resize
@media (max-width: 1200px) {
  .friends {
    padding-top: 5rem;
    overflow: visible;
  }
}
//*/
