@import "../../Main.scss";

.friends {
  @include mainScrollbar($bgcolor: #0000);

  position: relative;
  height: 100%;
  padding: 2rem 4rem;
  padding-bottom: 16rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  overflow-y: scroll;
  grid-gap: 2rem;
  grid-auto-rows: max-content;

  &.tamplate {
    overflow: hidden;
  }

  .no-data {
    @include absCenter();
    z-index: 1;
    text-align: center;
    user-select: none;

    span {
      font-size: 4rem;
      font-weight: bold;
    }
  }

  .empty-card {
    @include flex($direction: column, $gap: 1rem);

    background-color: $gc9;
    aspect-ratio: 3 / 4;
    opacity: 0.3;
    border-radius: 1rem;

    .blank-avatar {
      height: 10rem;
      filter: grayscale(1) brightness(50%);
    }

    p {
      @include rounded(1rem);

      width: 80%;
      background-color: $gc8;
    }
  }

  &__indicator {
    @include rounded(1rem);
    @include flex();

    position: fixed;
    bottom: 1rem;
    left: 75%;
    transform: translateX(calc(-6rem - 25%)); //padding
    background-color: $gc9;
    opacity: 0.5;
    font-size: 1.2rem;
    z-index: 1;
  }
}

@media (max-width: 700px) {
  .friends {
    padding-top: 5rem;
    overflow: visible;
  }
}
