@use "../../../../shared/styles/shared.scss" as *;

// filters window
.filters {
  @include rounded(2rem);
  @include flex(column, center, center, 2rem);

  position: absolute;
  top: 14rem;
  right: 8rem;
  background-color: $gc9;
  border: solid 0.5rem $gc7;

  &::after {
    @include subCl(6rem, 6rem);

    background-color: $gc9;
    z-index: 1;
    top: calc(-3rem - 0.5rem);
    right: 6rem;
    transform: rotate(45deg);
    border-left: solid 0.5rem $gc7;
    border-top: solid 0.5rem $gc7;
    border-top-left-radius: 2rem;
  }

  &__row {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    z-index: 2;
    gap: 2rem;

    .option {
      @include rounded(2rem);
      @include flex($direction: column, $gap: 1rem);

      background-color: $gc8;
      font-size: 2rem;
      font-weight: 600;
      user-select: none;

      &:hover {
        cursor: pointer;
        filter: brightness(80%);
      }

      &.active {
        background-color: $mc7;
      }

      svg.option-svg {
        height: 4rem;
      }
    }
  }
}

// resize
@media (max-width: 700px) {
  .filters {
    top: 16rem;
    right: 4rem;
  }
}
//
