/* shared buttons settings */

@use "../variables/color.scss" as color;

// default button styles
@mixin button($size: 2rem) {
  width: fit-content;
  padding: calc($size / 4) $size;
  font-size: $size;
  font-weight: bold;
  border: solid calc($size / 6) #0000;
  outline: none;
  border-radius: $size;
  user-select: none;
  text-align: center;
  white-space: nowrap;
  transition: all 0.2s;

  &:hover {
    cursor: pointer;
  }
}

// default button, main main colored
@mixin main-m-button() {
  color: color.$mc0;
  background-color: color.$mc9;

  &:hover {
    border-color: color.$mc9;
    background-color: color.$mc5;
  }

  &:focus,
  &:active {
    box-shadow: 0 0 0 0.1rem color.$mc9;
  }
}

// default button, secondary main colored
@mixin sec-m-button() {
  background-color: color.$mc0;
  color: color.$mc9;

  &:hover {
    border-color: color.$mc0;
    background-color: color.$mc4;
    color: color.$mc0;
  }

  &:focus,
  &:active {
    box-shadow: 0 0 0 0.1rem color.$mc0;
  }
}

// default button, main grey colored
@mixin main-g-button() {
  color: color.$gc2;
  background-color: color.$gc9;

  &:hover {
    background-color: color.$gc8;
    color: color.$gc0;
    border-color: color.$gc0;
  }

  &:focus,
  &:active {
    box-shadow: 0 0 0 0.1rem color.$gc2;
  }
}

// default button, secondary grey colored
@mixin sec-g-button() {
  background-color: color.$gc2;
  color: color.$gc9;

  &:hover {
    background-color: color.$gc0;
    border-color: color.$gc8;
    color: color.$gc8;
  }

  &:focus,
  &:active {
    box-shadow: 0 0 0 0.1rem color.$gc8;
  }
}
