/* shared inputs settings */

@use "../variables/color.scss" as color;

// setting for default inputs
@mixin c-input($size: 2rem, $m-color: color.$mc0, $sColor: color.$mc9) {
  box-sizing: border-box;
  padding: calc($size / 4) $size;
  border: solid calc($size / 8) #0000;
  outline: none;
  border-radius: $size;
  font-size: $size;
  text-align: center;
  color: $sColor;
  background-color: $m-color;

  &:focus,
  &:active {
    border-color: color.$gc3;
  }
}

// setting for transparent input
@mixin t-input($size: 2rem) {
  box-sizing: border-box;
  padding: calc($size / 4);
  border: none;
  border-bottom: solid calc($size / 8) color.$gc6;
  outline: none;
  font-size: $size;
  text-align: start;
  color: color.$gc4;
  background-color: #0000;

  &:focus,
  &:active {
    color: color.$gc6;
    border-color: color.$gc0;

    &::placeholder {
      color: color.$gc7;
    }
  }

  &::placeholder {
    color: color.$gc6;
  }
}
