@import '../variables/color.scss';

// default setting for main scrollbar
@mixin mainScrollbar($bgcolor: #000, $mainColor: #343a40, $sideColor: #495057) {
  $mainrgb: map-get($colorMap, $mainColor);
  $sidergb: map-get($colorMap, $sideColor);

  &::-webkit-scrollbar {
    width: 1.2rem;
    z-index: 999;

    &-track {
      background-color: $bgcolor;
    }

    &-thumb {
      background-color: $mainColor;
      background-clip: padding-box;
      border-radius: 0.2rem;

      &:hover,
      &:active {
        background-color: $sideColor;
      }
    }

    &-button:single-button {
      display: block;
      height: 1.2rem;
      background-color: $bgcolor;
      background-size: 0.8rem;
      background-repeat: no-repeat;
      background-position: center 0.4rem;

      &:hover {
        cursor: pointer;
      }

      &:vertical:decrement {
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='#{$mainrgb}'><polygon points='50,00 0,50 100,50'/></svg>");

        &:hover {
          background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='#{$sidergb}'><polygon points='50,00 0,50 100,50'/></svg>");
        }
      }

      &:vertical:increment {
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='#{$mainrgb}'><polygon points='0,0 100,0 50,50'/></svg>");

        &:hover {
          background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='#{$sidergb}'><polygon points='0,0 100,0 50,50'/></svg>");
        }
      }
    }
  }
}
