@import "../../../Main.scss";

.games {
  @include wh100();
  padding: 4rem 8rem;

  @include showAni();

  &__header {
    @include flex(row, space-between, center, 0);
    padding: 1rem;
    padding-right: 4rem;

    h2 {
      font-size: 3rem;
    }

    .filters {
      button {
        @include mainMButton();
        @include button(2rem);
      }
    }
  }

  &__list {
    position: relative;
    height: 100%;
    max-height: calc(100vh - 2 * 4rem - 6rem);
    padding: 0.5rem;
    overflow-y: scroll;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;

    &::-webkit-scrollbar {
      width: 1rem;
      background-color: #0000;

      &-thumb {
        background-color: $gc9;
        border-radius: 1rem;
      }
    }
  }
}

@media (max-width: 700px) {
  .games {
    padding: 4rem 2rem;

    &__header {
      h2 {
        font-size: 3.6rem;
      }

      .filters {
        button {
          @include button(2.6rem);
        }
      }
    }

    &__list {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
