@import "../../../Main.scss";

.games {
  @include wh100();
  padding: 4rem 8rem;

  @include showAni();

  &__header {
    @include flex(row, space-between, center, 0);
    padding: 1rem;
    padding-right: 4rem;
    height: 6rem;

    h2 {
      font-size: 3rem;
    }

    .filters {
      button {
        @include mainMButton();
        @include button(2rem);
      }
    }
  }

  &__list {
    @include flex(column, start, center, 1rem);

    position: relative;
    height: 100%;
    max-height: calc(100vh - 2 * 4rem - 6rem);
    padding: 0.5rem;
    overflow-y: scroll;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;

    &::-webkit-scrollbar {
      width: 1rem;
      background-color: #0000;

      &-thumb {
        background-color: $gc9;
        border-radius: 1rem;
      }
    }
  }
}
