@use "../../../../../shared/styles/shared.scss" as *;

// game message container
.message {
  display: grid;
  grid-template-columns: 4rem auto;
  width: 100%;
  margin-bottom: 1rem;

  &__user {
    @include circle(3rem);

    overflow: hidden;

    .sender-image {
      @include wh100;
    }
  }

  &__game {
    @include square(3rem);

    overflow: hidden;

    .game-logo {
      height: 3rem;
    }
  }

  &__content {
    .sender-data {
      color: $gc5;
      font-size: 1rem;
    }

    .mess-text {
      font-size: 1.4rem;
      word-break: break-word;
      overflow-wrap: break-word;
      hyphens: none;
      color: $gc3;
    }
  }

  &__actions {
    @include flex(row, end, center, 1rem);

    padding: 1rem;
    grid-column: span 2;

    .draw-mess-btn {
      @include flex($gap: 0.5rem);

      background-color: #0000;
      color: $gc0;
      font-size: 1.6rem;
      border: none;
      outline: none;

      &:hover {
        cursor: pointer;
      }

      &.accept-btn {
        &:hover {
          color: $success-color-l;
        }
      }

      &.decline-btn {
        &:hover {
          color: $danger-color-m;
        }
      }

      .draw-mess-icon {
        height: 2rem;
      }
    }
  }
}

// resize
