@import "../../Main.scss";

.board-container {
  @include wh100();
  @include flex();

  position: relative;
  z-index: 0;
  border-radius: $lg-br;
  box-shadow: inset 2rem 0 2rem -1rem rgba($mc5, 0.3),
    inset -2rem 0 2rem -1rem rgba($mc5, 0.3),
    inset 0 1rem 2rem -1rem rgba($mc5, 0.3),
    inset 0 -1rem 2rem -1rem rgba($mc5, 0.3);

  .board {
    @include square(64rem);
    @include rounded(2rem);

    position: inherit;
    z-index: 10;
    background-color: rgba(#000, 0.9);
    // background-image: url("/icons/wood.png");
    // background-size: 12.5% 12.5%;
    overflow: hidden;

    // files indicators
    @mixin filesIndicators() {
      position: absolute;
      display: grid;
      background-color: #000;

      div {
        @include flex();

        font-size: 1.2rem;
        font-weight: bold;
        color: $gc5;
      }
    }

    .white-indicators {
      transform: rotate(0deg);
      div {
        transform: rotate(0deg);
      }
    }

    .black-indicators {
      transform: rotate(180deg);
      div {
        transform: rotate(180deg);
      }
    }

    &__rows {
      @include filesIndicators();

      top: 2rem;
      left: 0;
      width: 2rem;
      height: calc(100% - 2 * 2rem);
      grid-template-rows: repeat(8, 1fr);
    }

    &__columns {
      @include filesIndicators();

      bottom: 0;
      left: 2rem;
      width: calc(100% - 2 * 2rem);
      height: 2rem;
      grid-template-columns: repeat(8, 1fr);
    }
    // end files indicators

    &__content {
      @include wh100();
      position: relative;

      @mixin board() {
        @include wh100();

        position: relative;
        aspect-ratio: 1/1;
        display: grid;
        grid-template-rows: repeat(8, 1fr);
        overflow: hidden;
      }

      // inner board
      &__inner {
        @include board();

        z-index: 10;
        grid-template-columns: repeat(8, 1fr) 0;
        gap: 0.4rem;

        .field {
          @include rounded(0.5rem);
          @include flex();

          position: relative;
          z-index: 10;

          &:nth-child(odd) {
            background-color: rgba($mc0, 0.96);
            &.old {
              background-color: rgba($mc3, 0.96);
            }
            &.new {
              background-color: rgba($mc3, 0.96);
            }
          }
          &:nth-child(even) {
            background-color: rgba($mc9, 0.96);
            &.old {
              background-color: rgba($mc4, 0.96);
            }
            &.new {
              background-color: rgba($mc4, 0.96);
            }
          }

          &.highlight {
            background-color: rgba($danger-color-l, 0.96);
          }

          &.check {
            background-image: radial-gradient(
              circle at 50% 50%,
              $danger-color-d 30%,
              $danger-color-m 50%,
              $danger-color-l 70%,
              #0000 100%
            );
          }
        }

        .placeholder {
          width: 0;
        }
      }
      // end inner board

      // outer board
      &__outer {
        @include board();

        position: absolute;
        top: 0;
        left: 0;
        z-index: 11;
        grid-template-columns: repeat(8, 1fr);

        .field {
          @include flex();

          position: relative;
          z-index: 10;
          aspect-ratio: 1/1;

          &:hover {
            filter: brightness(90%);
          }

          &.tip {
            cursor: pointer;
            background-image: radial-gradient(
              circle at 50% 50%,
              rgba(#000, 0.5) 30%,
              #0000 40%
            );

            // to display capture
            &:not(.selected) {
              &:has(.piece) {
                img {
                  filter: drop-shadow(0 0 1rem $danger-color-m);
                }
              }
            }
          }

          &.selected {
            .piece {
              img {
                filter: drop-shadow(0 0 1rem #000) brightness(60%);
              }
            }
          }

          .piece {
            @include square(100%);
            @include flex();

            position: relative;
            user-select: none;
            transition: transform 0.1s;

            &.own {
              cursor: grab;
              &:active {
                cursor: grabbing;
              }
            }

            img {
              height: calc(((64rem - 2rem) / 8) * 0.8);
              transform: translateZ(-1px);
              filter: drop-shadow(0 0 1rem #000);
              pointer-events: none;
            }

            .capture {
              @include square(3rem);
              position: absolute;
              z-index: 20;
              top: 0;
              right: 0;

              .x {
                @include absCenter();
                height: 3rem;
                z-index: 21;
              }

              img {
                @include absCenter();
                height: 2rem;
                z-index: 20;
              }
            }
          }
        }
      }
      // edn outer board

      .white-board {
        transform: rotate(0deg);

        .field {
          transform: rotate(0deg);
        }
      }

      .black-board {
        transform: rotate(180deg);

        .field {
          transform: rotate(180deg);
        }
      }
    }

    @mixin coverBoard() {
      @include absCenter();
      @include wh100();
      z-index: 100;
      background-color: rgba(#000, 0.7);
    }

    // end grid board

    &__promotion {
      @include coverBoard();

      &__pieces {
        @include absCenter();
        @include flex();
        @include rounded(1rem);

        background-color: $gc9;
        border: solid 0.5rem $gc8;

        .piece {
          @include rounded(1rem);

          &:hover {
            cursor: pointer;
            background-color: rgba(#000, 0.5);
          }

          img {
            height: 6rem;
          }
        }
      }
    }

    &__end {
      @include coverBoard();

      &__content {
        @include absCenter();

        background-color: $gc9;
        // border: solid 0.5rem $gc8;
        border-radius: 4rem;
        overflow: hidden;

        .title {
          position: relative;
          font-size: 3rem;
          color: $mc5;
          white-space: nowrap;
          padding: 2rem 8rem;
          font-weight: bold;
          text-decoration: underline;

          @mixin subEle() {
            @include subCl(2rem);

            width: 4rem;
            height: 8rem;
            bottom: -8rem;
          }

          &::after {
            @include subEle();

            left: 0;
            border-top-left-radius: 4rem;
          }
          &::before {
            @include subEle();

            right: 0;
            border-top-right-radius: 4rem;
          }

          &.white-winner {
            background-color: #fff;
            &::after {
              box-shadow: -0.1rem -4rem 0 0 #fff;
            }
            &::before {
              box-shadow: 0.1rem -4rem 0 0 #fff;
            }
          }
          &.black-winner {
            background-color: #000;
            &::after {
              box-shadow: -0.1rem -4rem 0 0 #000;
            }
            &::before {
              box-shadow: 0.1rem -4rem 0 0 #000;
            }
          }
        }

        .players {
          @include flex();
          height: 12rem;

          border-radius: 4rem;
          border: 0.3rem solid $gc8;
          border-top: 0.6rem solid $gc8;
        }
      }
    }
  }
}
