@use "../../../shared/styles/shared.scss" as *;

// notification popup window
.notification {
  position: absolute;
  right: 8rem;
  bottom: 8rem;
  transform-origin: 50% 100%;
  transform: scaleY(0);
  transition: transform 0.3s;

  &__content {
    @include flex($gap: 2rem);
    @include rounded(2rem);

    background-color: $gc9;

    &__board {
      @include square(8rem);

      position: relative;
      overflow: hidden;
      opacity: 0.5;

      &::after {
        @include sub-class(150%, 150%);
        @include abs-center;
        @include grid-bg(2rem, $mc0, #0000, 1);

        transform: translate(-50%, -50%) rotate(45deg);
      }
    }

    &:hover &__board {
      opacity: 1;
    }

    &__data {
      @include flex(column, start, start, 0);

      height: 8rem;

      &__header {
        span {
          font-size: 1.6rem;
        }

        span.user {
          color: $mc5;
        }
      }

      &__actions {
        @include flex(row, end, center, 0);
        @include wh100;

        button.accept {
          &::after {
            background-color: $mc5;
          }

          &:hover {
            color: $mc5;
          }
        }

        button.decline {
          &::after {
            background-color: $danger-color-m;
          }

          &:hover {
            color: $danger-color-m;
          }
        }

        button.action {
          position: relative;
          font-size: 1.6rem;
          padding: 0.6rem 1.2rem;
          color: $mc2;
          background-color: #0000;
          border: none;
          outline: none;

          &:hover {
            cursor: pointer;

            &::after {
              transform: scaleX(1);
            }
          }

          &::after {
            @include sub-class;

            width: calc(100% - 2 * 1.2rem);
            height: 0.2rem;
            bottom: 0;
            left: 1.2rem;
            transform-origin: 0 0;
            transform: scaleX(0);
            transition: transform 0.1s;
          }
        }
      }
    }
  }

  // to show new game notification
  &.show-notification {
    transform: scaleY(1);
  }
}

// resize
