@use "../../../../shared/styles/shared.scss" as *;

// invite option styles
.invite {
  @include flex(column, center, center, 1rem);

  width: 100%;
  padding-bottom: 2rem;
  border-bottom: solid 0.3rem $gc9;

  &:nth-last-child(1) {
    border: none;
  }

  .input-holder {
    @include flex;

    position: relative;
    width: fit-content;

    input {
      @include c-input;
    }

    input.input-search {
      margin: none;
    }

    input.input-mail {
      padding-right: 4rem;
    }

    .send-icon {
      @include circle(4rem);

      position: absolute;
      right: -0.2rem;

      &:hover {
        cursor: pointer;
        filter: brightness(80%);
      }

      svg.arrow-svg {
        height: 100%;
      }
    }

    button.generate-button {
      @include button(2rem);
      @include sec-m-button;
    }

    .game-link {
      @include flex(column, start, center, 1rem);

      max-width: 100%;

      span {
        text-align: center;
        font-size: 1.4rem;
        color: $gc4;
      }

      .link-display {
        @include rounded(1rem);

        width: 100%;
        position: relative;
        background-color: $gc9;

        &:hover {
          cursor: pointer;
          filter: brightness(80%);
        }

        p.link {
          word-break: break-all;
          font-size: 1.4rem;
          color: $mc5;
          user-select: none;
        }

        span {
          @include rounded(0.6rem);

          position: absolute;
          color: $gc4;
          background-color: #111;
          display: none;
          transform: translateX(-50%);

          &.show {
            display: block;
          }
        }
      }
    }
  }

  .text {
    font-size: 1.8rem;
    text-align: center;
  }
}
