@import "../Main.scss";

// account page container
.account-main {
  @include wh100();
  @include gridBg();
  @include forNav();

  display: grid;
  grid-template-columns: 1fr 1fr;
}
//*/

// resize
@media (max-width: 1200px) {
  .account-main {
    grid-template-columns: 1fr;
  }
}
//*/
