@use "../../shared/styles/shared.scss" as *;
@use "../Main.scss" as Main;

// account page container
.account-main {
  @include wh100;
  @include grid-bg;
  @include Main.for-nav;

  & {
    overflow: hidden;
  }

  .main-container {
    @include wh100;

    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
  }
}

// resize
@media (width <= 1200px) {
  .account-main {
    height: 100vh;
    height: 100dvh;

    .main-container {
      display: block;
      overflow: scroll;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}
