@import '../../shared/styles/Components.scss';

.home-main {
  height: 100%;
}

.observe {
  position: absolute;
  z-index: -999;

  width: 10px;
  height: 10px;
  background-color: red;

  // set the observer to middle of section
  transform: translateY(50vh);
}

@mixin container {
  width: 100%;
  height: 100%;
  padding: 4rem 0;
}
