@use "../../../shared/styles/shared.scss" as *;

// center bar container
.bar {
  @include wh100;

  position: relative;
  background-color: rgba($gc9, 0.5);
  border-right: solid 0.1rem $mc0;
  box-shadow: 0 0 1rem 0.1rem $mc0;

  &__content {
    height: 100%;
    display: grid;
    grid-template-rows: 5rem 10rem auto;
    padding: 2rem;

    &__intro {
      h2.selected-list {
        font-size: 3rem;
      }
    }

    &__search {
      @include flex(column, start, start, 1rem);

      p.search-tag {
        font-size: 1.6rem;
        color: $gc5;
      }

      input.search-input {
        @include c-input;

        color: $gc0;
        width: 100%;
        background-color: $gc8;

        &:focus {
          background-color: $gc7;
          border-color: $gc8;

          &::placeholder {
            color: $gc6;
          }
        }
      }
    }

    &__options {
      @include flex(column, start, center, 0);

      .option {
        @include flex(row, start, center, 1rem);

        position: relative;
        width: 100%;
        padding: 1rem;
        background-color: $gc9;
        border-bottom: solid 0.4rem $gc8;

        &:hover {
          cursor: pointer;
          filter: brightness(80%);

          &:not(.active) > svg.panel-arrow {
            opacity: 1;
          }
        }

        &:first-child {
          border-top-left-radius: 1rem;
          border-top-right-radius: 1rem;
        }

        &:last-child {
          border-bottom-left-radius: 1rem;
          border-bottom-right-radius: 1rem;
        }

        &.active {
          background-color: rgba($gc9, 0.5);
          border-color: $mc9;

          .panel-svg {
            path {
              stroke: $mc5;
            }
          }

          span {
            color: $gc0;
          }
        }

        span {
          font-size: 1.6rem;
          color: $gc5;
        }

        .panel-svg {
          height: 3rem;
        }

        svg.panel-arrow {
          @include abs-center;

          height: 1.6rem;
          right: 1rem;
          left: unset;
          opacity: 0.2;
        }

        &:nth-child(3) {
          &.active {
            &:nth-child(3) {
              path {
                stroke: none;
                fill: $mc5;
              }
            }
          }
        }
      }
    }
  }
}

// resize
@media (width <= 700px) {
  .bar {
    border: none;

    &__content {
      @include flex(row, space-between, center, 0);

      padding: 0 4rem;

      &__intro {
        @include flex;
      }

      &__search {
        @include flex;

        p.search-tag {
          display: none;
        }
      }

      &__options {
        flex-direction: row;

        .option {
          @include square(6rem);

          span {
            display: none;
          }

          svg.panel-arrow {
            display: none;
          }

          &:first-child {
            border-radius: 0;
            border-top-left-radius: 1rem;
            border-bottom-left-radius: 1rem;
          }

          &:last-child {
            border-radius: 0;
            border-top-right-radius: 1rem;
            border-bottom-right-radius: 1rem;
          }
        }
      }
    }
  }
}

@media (width <= 500px) {
  .bar {
    &__content {
      &__intro {
        display: none;
      }
    }
  }
}
