@use "../../../shared/styles/shared.scss" as *;
@use "../../../shared/components/action-button/ActionButton.module.scss" as actionButton;

// center bar container
.bar {
  @include wh100();

  position: relative;
  background-color: rgba($gc9, 0.5);
  border-bottom-left-radius: 4rem;
  border-bottom-right-radius: 4rem;
  border: solid 0.1rem $mc0;
  border-top: none;
  box-shadow: 0 0 1rem 0.1rem $mc0;

  &__content {
    height: 100%;
    display: grid;
    grid-template-columns: 30rem auto 30rem;
    padding: 0 4rem;

    &__intro {
      @include flex();

      justify-content: start;

      .panel {
        @include flex();

        .option {
          padding: 1rem;
          background-color: $gc9;
          border-right: solid 0.2rem $gc8;
          border-bottom: solid 0.4rem $gc8;

          &:hover {
            cursor: pointer;
            filter: brightness(80%);
          }

          &:first-child {
            border-top-left-radius: 1rem;
            border-bottom-left-radius: 1rem;
          }

          &:last-child {
            border-top-right-radius: 1rem;
            border-bottom-right-radius: 1rem;
            border-right: none;
          }

          .panel-svg {
            height: 3rem;
          }

          &:nth-child(3) {
            &.active {
              &:nth-child(3) {
                path {
                  stroke: none;
                  fill: $mc5;
                }
              }
            }
          }
        }

        .active {
          background-color: rgba($gc9, 0.5);
          transform: translateY(0.3rem);
          border: none;
          .panel-svg {
            path {
              stroke: $mc5;
            }
          }
        }
      }
    }

    &__search {
      @include flex();

      input.search-input {
        @include cInput();

        & {
          color: $gc0;
          width: 100%;
          background-color: $gc8;
        }

        &:focus {
          background-color: $gc7;
          border-color: $gc8;

          &::placeholder {
            color: $gc6;
          }
        }
      }
    }

    &__outro {
      @include flex();

      justify-content: end;

      .action-button {
        @include actionButton.actionButton(1.6rem);
      }
    }
  }
}
//*/

// resize
@media (max-width: 700px) {
  .bar {
    border-left: none;
    border-right: none;

    &__content {
      grid-template-columns: 30rem auto 0;

      &__outro {
        display: none;
      }
    }
  }
}
//*/
