@import "../../../Index.scss";

// side bar
.header {
  @include flex(row, space-between, center, 0);
  @include absCenter();

  top: 6rem;
  z-index: 100;
  width: calc(100% - 2 * 10rem);
  height: 8rem;
  border-bottom: solid 0.1rem $mc0;

  // logo
  .hero-logo {
    @include flex(row, center, center, 2rem);

    pointer-events: all;

    a {
      display: block !important;
      text-decoration: none;
      width: fit-content;
      height: fit-content;

      &:hover {
        cursor: pointer;
      }

      svg.logo-svg {
        height: 4rem;
        filter: grayscale(60%);
      }
    }

    p {
      @include secFont(3rem);
    }
  }
  //*/

  // actions
  .hero-actions {
    @include flex(row, center, center, 0);

    height: 100%;
    padding: 0.6rem 1.2rem;
    pointer-events: all;
    transition: top 0.5s, right 0.5s, background-color 0s 0s, box-shadow 0s 0s;

    .hero-button {
      @include button(1.6rem);

      background-color: #0000;
      transition: all 0.5s;

      &:hover {
        span {
          &::after {
            width: 100%;
          }
        }
      }

      span {
        color: $gc3;
        transition: color 0.5s;

        &::after {
          @include subCl(0, 0.2rem);

          position: unset;
          display: block;
          margin-top: 0.3rem;
          background-color: $gc3;
          transition: all 0.3s;
        }
      }

      &:nth-last-child(1) {
        span {
          color: $mc3;

          &::after {
            background-color: $mc3;
          }
        }
      }
    }
  }
  //*/
}
//*/

// resize
@media (max-width: 700px) {
  .header {
    width: calc(100% - 4rem);

    .hero-logo {
      a {
        .logo-svg {
          height: 6rem !important;
        }
      }

      p {
        font-size: 4rem;
      }
    }

    .hero-actions {
      .hero-button {
        span {
          font-size: 2.4rem;
        }
      }
    }
  }
}

@media (max-width: 300px) {
  .header {
    .hero-logo {
      a {
        .logo-svg {
          height: 4rem !important;
        }
      }

      p {
        display: none;
      }
    }

    .hero-actions {
      .hero-button {
        span {
          font-size: 2rem;
        }
      }
    }
  }
}
//*/
