@use "../../../shared/styles/shared.scss" as *;
@use "../../../shared/components/action-button/ActionButton.module.scss" as ActionButton;

$sqr_size: 7rem;

.bot {
  @include wh100();

  position: relative;

  &__content {
    @include absCenter();
    @include rounded(2rem);
    @include showAni();

    & {
      width: calc(100% - 2 * 16rem);
      height: fit-content;
      display: grid;
      grid-template-columns: calc(5 * $sqr_size + 4 * 1rem) auto;
      background-color: rgba($gc9, 0.3);
      gap: 2rem;
    }

    &__level {
      width: calc(5 * $sqr_size + 4 * 1rem);

      &__header {
        @include flex();

        height: $sqr_size;
        padding-bottom: 1rem;

        h2 {
          font-size: 3rem;
        }
      }

      &__grid {
        width: fit-content;
        height: fit-content;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 1rem;

        .engine-level {
          @include square($sqr_size);
          @include rounded(1rem);
          @include flex();

          position: relative;
          background-color: $gc9;
          border: solid 0.3rem $gc8;

          &:hover {
            cursor: pointer;
            box-shadow: 0 0 1rem 0 $gc0;

            span {
              color: $mc0;
              filter: drop-shadow(0 0 1rem $mc0);
            }

            .lvl-icon {
              opacity: 0.2;
            }
          }

          &.selected {
            box-shadow: 0 0 1rem 0 $gc0;

            span {
              color: $mc0;
              filter: drop-shadow(0 0 1rem $mc0);
            }

            .lvl-icon {
              opacity: 0.2;
            }
          }

          span {
            @include secFont(3rem);

            width: 100%;
            text-align: center;
            z-index: 1;
            color: $mc9;
            text-shadow: 0.1rem 0.1rem 0 #000;
          }

          .lvl-icon {
            @include absCenter();

            z-index: 0;
            height: 80%;
            opacity: 0.05;

            line {
              fill: none;
              stroke: $mc0;
              stroke-width: 2;
              stroke-linecap: round;
              stroke-linejoin: round;
              stroke-miterlimit: 10;
            }

            path {
              fill: none;
              stroke: $mc0;
              stroke-width: 2;
              stroke-linecap: round;
              stroke-linejoin: round;
              stroke-miterlimit: 10;
            }
          }
        }
      }
    }

    &__options {
      @include flex(column, start, start, 2rem);

      position: relative;
      margin-top: $sqr_size;
      width: 100%;
      padding-left: 2rem;
      border-left: solid 0.3rem $gc9;

      &__option {
        .option-name {
          @include flex(row, start, center, 1rem);

          margin-bottom: 1rem;

          .option-icon {
            height: 2rem;
          }

          span {
            font-size: 2rem;
            color: $gc4;
          }
        }

        .buttons {
          @include flex(row, start, center, 1rem);

          .option-button {
            & {
              @include button(1.8rem);
              @include mainGButton();

              & {
                width: 5rem;
                box-sizing: content-box;
                border: none;
                padding: 1rem 2rem;
                transition: all 0.3s;
                color: $gc0;
              }
            }

            &:hover {
              border-color: #0000;
              box-shadow: inset 0 0 0 0.4rem $gc0;
            }

            &:focus,
            &:active {
              box-shadow: none;
            }

            &.active-button {
              color: $gc9;
              background-color: $gc0;
            }
          }
        }
      }

      .continue-button {
        @include ActionButton.actionButton(2rem);

        position: absolute;
        left: 50%;
        bottom: 4rem;
        transform: translateX(-50%);
      }
    }
  }
}

// resize
@media (max-width: 700px) {
  $sqr_size: 10rem;

  .bot {
    height: calc(100dvh - 18rem);
    padding: 0;
    overflow-y: scroll;
    padding: 4rem 0;

    &::-webkit-scrollbar {
      display: none;
    }

    &__content {
      @include flex(column, center, center, 0);

      position: unset;
      top: unset;
      left: unset;
      transform: unset;

      padding: 0;
      width: 100%;
      height: fit-content;
      border-radius: 0;
      background-color: #0000;

      &__level {
        width: calc(5 * $sqr_size + 4 * 1rem);

        &__grid {
          .engine-level {
            @include square($sqr_size);
          }
        }
      }

      &__options {
        align-items: center;
        gap: 4rem;
        border: none;
        padding: 0;

        &__option {
          @include flex(column, center, center, 1rem);

          width: 100%;

          .option-name {
            span {
              font-size: 3rem;
            }

            .option-icon {
              height: 3rem;
            }
          }
        }

        .continue-button {
          @include ActionButton.actionButton(3rem);

          position: relative;
          left: unset;
          bottom: unset;
          transform: none;
          margin: 4rem;
        }
      }
    }
  }
}
//*/
