@use "../../shared/styles/shared.scss" as *;
@use "../../shared/components/action-button/ActionButton.module.scss" as actionButton;

// register page container
.register {
  @include grid-bg;

  position: relative;
  height: 100%;

  &__content {
    @include abs-center;

    width: 100rem;
    height: 60rem;
    display: grid;
    grid-template-columns: calc(100% - 60rem) auto calc(100% - 60rem);
    border-radius: 4rem;
    background-image: linear-gradient(rgba(#000, 0.8), rgba(#000, 0.8)), url("images/register-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;

    &__intro {
      @include flex(column, space-evenly, center, 4rem);

      padding: 12rem 4rem;
      text-align: center;
      opacity: 0;
      transition: opacity 1s;
      animation: intro-animation 1s;

      &.active {
        opacity: 1;
      }

      h1.title {
        font-size: 4rem;
        font-weight: bold;
        filter: drop-shadow(0 0 1rem $mc8);
      }

      p.text {
        color: $gc4;
        font-size: 1.6rem;
      }

      .action-button {
        @include actionButton.action-button(1.6rem);
      }

      @keyframes intro-animation {
        from {
          opacity: 0;
        }

        to {
          opacity: 1;
        }
      }
    }
  }

  // form container
  &__form {
    $icon-up: 1rem;

    @include rounded(4rem);
    @include square(60rem);

    position: absolute;
    top: 0;
    background-color: #151515;
    border: solid 0.5rem $gc8;
    background-image: repeating-conic-gradient(from 0deg at 25% 75%, #0000 20%, rgba($gc9, 0.3) 35%);

    &::after {
      @include sub-class(6rem, 6rem);

      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, calc(-50% - $icon-up)) rotate(45deg);
      background-color: $gc9;
      border-radius: 100%;
      border: solid 0.5rem $gc8;
    }

    &.form-transform {
      transition: transform 0.3s linear, left 0.3s linear;
    }

    &.left-side-form {
      left: 0;
      transform: translateX(0);
    }

    &.right-side-form {
      left: 100%;
      transform: translateX(-100%);
    }

    &.static-form {
      position: relative;
    }

    svg.lock-svg {
      @include circle(5rem);

      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(calc(-50% + calc($icon-up / 4)), calc(-50% - $icon-up));
      z-index: 1;
    }
  }
}

// resize
@media (width <= 500px) {
  .register {
    position: relative;
    height: 100dvh;

    &__content {
      @include flex(column-reverse, start, center, 0);

      position: relative;
      top: 0;
      left: unset;
      transform: none;
      width: 100%;
      height: 100%;
      background-image: none;
      border-radius: 0;
      padding: 0;

      &__intro {
        display: none;
      }
    }

    &__form {
      @include abs-center;

      width: calc(100vw - 2rem);
      height: calc(100vw - 2rem);
      flex-shrink: 0;
    }
  }
}
