@import "../Index.scss";
@import "../../shared/components/action-button/ActionButton.module.scss";

.register {
  @include gridBg();

  position: relative;
  height: 100%;

  &__content {
    @include absCenter();

    width: 100rem;
    height: 60rem;

    @keyframes introAnimation {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }

    &__split {
      @include wh100();

      display: grid;
      overflow: hidden;
      border-radius: $md-br;

      background-image: linear-gradient(rgba(#000, 0.8), rgba(#000, 0.8)), url("images/register-bg.jpg");

      background-size: cover;
      background-repeat: no-repeat;
      background-position: right;

      &.left-side-content {
        grid-template-columns: 60rem auto;

        .intro {
          animation: introAnimation 1s;
        }
      }

      &.right-side-content {
        grid-template-columns: auto 60rem;

        .intro {
          animation: introAnimation 1s;
        }
      }

      .form {
        background-color: #0000;
      }

      .intro {
        @include flex(column, space-evenly, center, 4rem);

        padding: 12rem 4rem;
        text-align: center;

        h1.title {
          font-size: 4rem;
          font-weight: bold;
          filter: drop-shadow(0 0 1rem $mc8);
        }

        p.text {
          color: $gc4;
          font-size: 1.6rem;
        }

        .action-button {
          @include actionButton(1.6rem);
        }
      }
    }

    // form container
    &__form {
      @include rounded($md-br);
      @include square(60rem);

      position: absolute;
      top: 0;
      left: 50%;

      background-color: $gc9;
      border: solid 0.5rem $gc8;
      box-shadow: inset 0 0 1rem 0.5rem $gc8;
      background-image: repeating-conic-gradient(from 0deg at 25% 75%, #0000 20%, rgba($mc6, 0.1) 35%);

      transform: translateX(-50%);
      transition: transform 0.5s, left 0.5s;

      &::after {
        @include subCl(8rem, 8rem);

        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, calc(-50% - 0.4rem)) rotate(45deg);

        background-color: $gc9;
        border-radius: 100%;
        border: solid 0.5rem #0000;
        border-bottom-color: $gc8;
        border-right-color: $gc8;
        box-shadow: 0.5rem 0.5rem 1rem $gc8;
      }

      .lock-svg {
        @include circle(6rem);
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(calc(-50% + 0.5rem), calc(-50% - 0.5rem));
        z-index: 1;
      }
    }

    .left-side-form {
      left: 0;
      transform: translateX(0);
    }

    .right-side-form {
      left: 100%;
      transform: translateX(-100%);
    }
    // end form container
  }
}

@keyframes formAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 500px) {
  .register {
    height: unset;

    &__content {
      position: relative;
      top: 50rem;
      left: unset;
      transform: none;
      padding: 2rem;
      width: 100%;
      height: unset;
      aspect-ratio: 1/1 !important;

      &__split {
        background: none;
        grid-template-columns: 100% !important;

        .intro {
          position: absolute;
          bottom: 100%;

          p.text {
            font-size: 2rem;
          }

          .action-button {
            @include actionButton(2rem);
          }
        }
      }

      &__form {
        width: calc(100% - 4rem);
        height: calc(100% - 4rem);
        top: 2rem;
        left: 2rem;
        transform: translate(0, 0);
      }
    }
  }
}
