@import "../../../../Main.scss";

.list {
  @include flex(column, start, center, 1rem);

  padding-left: 2rem;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  &__element {
    @include rounded(1rem);

    width: 100%;
    display: grid;
    grid-template-columns: 6rem auto 8rem;
    gap: 2rem;
    background-color: $gc9;

    .avatar {
      .user-avatar {
        height: 6rem;
      }
    }

    .data {
      h3 {
        @include longText();
        font-size: 2rem;
      }
    }

    .invite {
      @include flex(column, end, center, 0);

      button {
        @include button(1.6rem);
        @include mainMButton();
      }
    }
  }
}
