@import "../../../../Main.scss";

.list {
  @include flex(column, start, center, 1rem);

  padding-left: 2rem;

  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  &__element {
    @include rounded(1rem);

    position: relative;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    display: grid;
    grid-template-columns: 6rem auto 8rem;
    gap: 2rem;
    background-color: $gc9;
    background-image: linear-gradient(60deg, #0000 60%, rgba($mc9, 0.1) 0%);
    flex-shrink: 0;
    padding: 1rem 1.5rem;

    &:hover > .invite {
      opacity: 1;
    }

    .avatar {
      @include flex();

      .user-avatar {
        @include circle(6rem);
        object-fit: cover;
        box-shadow: 0 0 0 0.5rem $gc8;
      }
    }

    .data {
      @include flex(column, start, start, 0.8rem);

      h3 {
        @include longText();
        font-size: 2rem;
      }

      p {
        font-size: 1.2rem;
      }

      .elo {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-column-gap: 0.5rem;

        span {
          @include flex(row, start, center, 0.2rem);
          color: $gc4;
          white-space: nowrap;

          svg.icon {
            height: 1.2rem;
          }
        }
      }

      .previous-games {
        p {
          font-size: 1.4rem;
          margin-bottom: 0.5rem;
        }

        span {
          font-size: 1.6rem;

          &:nth-child(2) {
            color: $success-color-m;
          }
          &:nth-child(3) {
            color: $gc5;
          }
          &:nth-child(4) {
            color: $danger-color-m;
          }
        }
      }
    }

    .invite {
      @include flex(column, end, center, 0);

      position: absolute;
      bottom: 1rem;
      right: 1.5rem;
      opacity: 0;
      transition: opacity 0.1s;

      button {
        @include button(1.6rem);
        @include mainMButton();
      }
    }
  }

  .empty {
    @include wh100();

    position: relative;
    overflow: hidden;

    .empty-card {
      @include rounded(1rem);

      width: 100%;
      background-color: $gc9;
      display: grid;
      grid-template-columns: 6rem auto;
      grid-gap: 2rem;
      margin-bottom: 1rem;
      opacity: 0.3;

      .blank-avatar {
        height: 6rem;
        filter: grayscale(1) brightness(50%);
      }

      .texts {
        @include flex(column, start, start, 1rem);

        p {
          @include rounded(1rem);

          width: 80%;
          background-color: $gc8;
        }
      }
    }

    .no-data {
      @include absCenter();
      font-size: 3rem;
      text-decoration: underline;
      font-weight: bold;
    }
  }

  &__indicator {
    position: absolute;
    bottom: calc((3rem - 1.4rem) / 2);
    font-size: 1.4rem;
  }
}
