@use "../../../../shared/styles/shared.scss" as *;

// pawn promotion container
.promotion {
  @include absCenter();
  @include wh100();

  z-index: 100;
  background-color: rgba(#000, 0.7);

  &__pieces {
    @include absCenter();
    @include flex();
    @include rounded(1rem);

    background-color: $gc9;
    border: solid 0.5rem $gc8;

    .piece {
      $h: 10rem;

      @include rounded(1rem);
      @include square($h);

      position: relative;

      &:hover {
        cursor: pointer;
        background-color: rgba(#000, 0.5);

        span.indicator {
          display: block;
        }
      }

      svg.promoted-pawn-svg {
        height: calc($h - 2 * 1rem);
      }

      span.indicator {
        @include rounded(1rem);

        display: none;
        position: absolute;
        left: 50%;
        top: calc(100% + 1rem);
        font-size: 2rem;
        background-color: #111;
        transform: translateX(-50%);
      }
    }
  }
}
//*/

//resize
//*/
