@import "../../styles/variables/color.scss";
@import "../../styles/commons-styles/elements.scss";
@import "../../styles/commons-styles/texts.scss";

// popup window
.popup {
  @include rounded(1rem);
  @include flex($gap: 1rem);

  position: absolute;
  z-index: 999;
  top: 2rem;
  right: -200%;
  opacity: 1;

  background-color: $mc0;
  border-bottom: solid 0.5rem $mc9;
  animation: showPopup 0.3s forwards;

  &:hover {
    display: none;
  }

  &__icon {
    @include square(4rem);

    svg {
      height: 4rem;
    }

    .success {
      fill: $success-color-m;
    }

    .info {
      path {
        fill: $info-color-m;
      }
    }

    .warning {
      path {
        fill: $warning-color-m;
      }
    }

    .error {
      fill: $danger-color-m;
    }
  }

  &__text {
    font-size: 2rem;
    font-weight: bold;
    color: $gc9;
  }

  @keyframes showPopup {
    to {
      right: 2rem;
      opacity: 1;
    }
  }
}
//*/
