@import "../../../Main.scss";

// game section container
.games {
  $header_height: 6rem;

  @include wh100();
  @include showAni();

  & {
    padding: 4rem 8rem;
  }

  // games cards sections header
  &__header {
    @include flex(row, space-between, center, 0);

    height: $header_height;
    padding: 1rem;
    padding-right: 4rem;

    h2.header-title {
      @include flex(row, start, center, 1rem);

      span {
        font-size: 3rem;
        font-weight: bold;
      }

      span.counter {
        @include flex($gap: 0.5rem);

        width: fit-content;

        span.sym {
          font-size: 2rem;
          color: $gc4;
        }
      }
    }

    .filters {
      button.filter-button {
        @include button(2rem);

        & {
          @include mainMButton();
        }

        &.disabled {
          filter: grayscale(100%);
          pointer-events: none;
        }

        &.enabled {
          filter: grayscale(0%);
          pointer-events: all;
        }
      }
    }
  }
  //*/

  // list of game cards or empty cards
  &__list {
    position: relative;
    height: calc(100% - $header_height);
    padding: 0.5rem;
    overflow-y: scroll;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;

    &::-webkit-scrollbar {
      width: 1rem;
      background-color: #0000;

      &-thumb {
        background-color: $gc9;
        border-radius: 1rem;
      }
    }

    &.empty {
      overflow: hidden;
    }
  }
  //*/
}
//*/

// resize
@media (max-width: 700px) {
  .games {
    height: 100%;
    overflow: hidden;
    padding: 4rem 2rem;

    $header_height: 10rem;

    &__header {
      height: $header_height;

      h2 {
        font-size: 3.6rem;
      }

      .filters {
        button.filter-button {
          font-size: 2.6rem;
        }
      }
    }

    &__list {
      height: calc(100% - $header_height);
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
//*/
