/* shared text styles */

// preventing long texts
@mixin long-text() {
  width: 1px;
  min-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

// use second font
@mixin sec-font($size) {
  font-size: $size;
  font-family: Knewave;
  user-select: none;
  overflow: hidden;
}
