@import './Variables.scss';
@import './CommonStyles.scss';

@mixin main-scrollbar($bgcolor, $mainColor, $sideColor) {
  $mainrgb: map-get($colorMap, $mainColor);
  $sidergb: map-get($colorMap, $sideColor);

  &::-webkit-scrollbar {
    width: 1.2rem;
    z-index: 999;

    &-track {
      background-color: $bgcolor;
    }

    &-thumb {
      background-color: $mainColor;
      background-clip: padding-box;

      &:hover,
      &:active {
        background-color: $sideColor;
      }
    }

    &-button:single-button {
      display: block;
      height: 1.2rem;
      background-color: $bgcolor;
      background-size: 0.8rem;
      background-repeat: no-repeat;
      background-position: center 0.4rem;

      &:hover {
        cursor: pointer;
      }

      &:vertical:decrement {
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='#{$mainrgb}'><polygon points='50,00 0,50 100,50'/></svg>");

        &:hover {
          background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='#{$sidergb}'><polygon points='50,00 0,50 100,50'/></svg>");
        }
      }

      &:vertical:increment {
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='#{$mainrgb}'><polygon points='0,0 100,0 50,50'/></svg>");

        &:hover {
          background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='#{$sidergb}'><polygon points='0,0 100,0 50,50'/></svg>");
        }
      }
    }
  }
}

@mixin shadow {
  position: absolute;
  z-index: -1;
  background-color: #111;
  pointer-events: none;
  filter: blur(0.5rem);
}

@mixin Button($size) {
  width: fit-content;
  padding: calc($size / 4) $size;
  font-size: $size;
  font-weight: bold;
  border: solid calc($size / 6) #0000;
  outline: none;
  border-radius: $size;
  text-align: center;
  user-select: none;
  text-align: center;
  white-space: nowrap;

  transition: all 0.2s;

  &:hover {
    cursor: pointer;
  }
}

@mixin mainButton {
  color: $mcolor0;
  background-color: $mcolor9;

  &:hover {
    border-color: $mcolor9;
    background-color: $mcolor5;
  }

  &:focus,
  &:active {
    box-shadow: 0 0 0.5rem 0.1rem $mcolor9;
  }
}

@mixin seconadryButton {
  background-color: $mcolor0;
  color: $mcolor9;

  &:hover {
    border-color: $mcolor0;
    background-color: $mcolor3;
    color: $mcolor0;
  }

  &:focus,
  &:active {
    box-shadow: 0 0 0.5rem 0.1rem $mcolor0;
  }
}

@mixin mainGButton {
  color: $gcolor2;
  background-color: $gcolor9;

  &:hover {
    background-color: $gcolor8;
    color: $gcolor0;
    border-color: $gcolor0;
  }

  &:focus,
  &:active {
    box-shadow: 0 0 0.5rem 0.1rem $gcolor2;
  }
}

@mixin seconadryGButton {
  background-color: $gcolor2;
  color: $gcolor9;

  &:hover {
    background-color: $gcolor0;
    border-color: $gcolor8;
    color: $gcolor8;
  }

  &:focus,
  &:active {
    box-shadow: 0 0 0.5rem 0.1rem $gcolor8;
  }
}

@mixin mainInput($size) {
  box-sizing: border-box;
  padding: calc($size / 4) $size;
  font-size: $size;
  border: solid calc($size / 8) #0000;
  outline: none;
  border-radius: $size;
  text-align: center;

  background-color: $mcolor0;
  color: $mcolor9;

  &:focus {
    border-color: $mcolor3;
  }
}
