/* spacing variables */

// border radius
$sm-br: 2rem;
$md-br: 4rem;
$lg-br: 8rem;
$xl-br: 16rem;

// font sizes
$xs-tx: 0.8rem;
$sm-tx: 1.2rem;
$md-tx: 1.6rem;
$lg-tx: 2rem;
$xl-tx: 3.2rem;
$xx-tx: 5rem;
