@use "../../../../shared/styles/shared.scss" as *;

// move record
.record {
  @include flex(row, start, start, 0);

  margin-bottom: 1.2rem;
  font-size: 1.6rem;

  .move {
    @include flex(row, start, center, 0.5rem);

    position: relative;
    width: 100%;
    border-bottom: solid 0.1rem $gc8;
    height: 2rem;
    padding: 0 1rem 0.2rem 1rem;

    .piece-ind {
      height: 1.4rem;
    }

    span {
      color: $gc5;

      &:nth-child(3) {
        margin-left: auto;
        align-self: flex-start;
        font-size: 1rem;
        justify-self: end;
        color: $gc6;
      }
    }

    &:hover {
      cursor: default;

      span {
        filter: drop-shadow(0 0 0.2rem $gc5);
      }
    }

    &.active {
      span {
        filter: drop-shadow(0 0 0.2rem $gc0);
      }
    }
  }

  .turn {
    width: calc(1.4rem * 3);
    color: $gc6;
    user-select: none;
  }

  .sep {
    width: fit-content;
    height: 2rem;
    color: $gc6;
    border-bottom: solid 0.1rem $gc8;
    user-select: none;
  }

  &:hover {
    .move {
      border-color: $gc7;
    }
  }

  &.empty {
    pointer-events: none;

    .move {
      border-color: $gc8;

      span {
        color: $gc8;
      }
    }

    .turn {
      color: $gc8;
    }

    .sep {
      color: $gc8;
      border-color: $gc8;
    }
  }
}
