@use "../../../../shared/styles/shared.scss" as *;

// move record
.record {
  @include flex(row, start, start, 0);

  margin-bottom: 1.2rem;
  font-size: 1.6rem;

  &:hover {
    .move {
      border-color: $gc7;
    }
  }

  &.empty {
    .move {
      border-color: $gc9;

      span {
        color: $gc8;
      }
    }

    .turn {
      color: $gc8;
    }

    .sep {
      color: $gc8;
      border-color: $gc9;
    }
  }

  .move {
    @include flex(row, start, center, 0.5rem);

    padding-left: 1rem;
    width: 100%;
    padding-bottom: 0.2rem;
    border-bottom: solid 0.1rem $gc8;
    height: 2rem;

    &:hover {
      cursor: pointer;

      span {
        filter: drop-shadow(0 0 0.2rem $gc5);
      }
    }

    &.active {
      span {
        filter: drop-shadow(0 0 0.2rem $gc0);
      }
    }

    svg {
      height: 1.4rem;
    }

    span {
      color: $gc5;
    }
  }

  .turn {
    width: calc(1.6rem * 3);
    color: $gc6;
  }

  .sep {
    width: fit-content;
    height: 2rem;
    color: $gc6;
    border-bottom: solid 0.1rem $gc8;
  }
}
