@use "../../../shared/styles/shared.scss" as *;

// left side bar container
.bar {
  @include wh100();

  position: relative;

  &::after {
    @include subCl();

    z-index: 1;
    top: 0;
    left: 100%;

    border-top-left-radius: 8rem;
    border-bottom-left-radius: 8rem;
    box-shadow: -10rem 0 0 10rem $gc9;
    border-left: solid 1rem $gc8;
    pointer-events: none;
  }

  &__content {
    position: inherit;
    z-index: 2;
    height: 100%;
    background-color: $gc9;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 6rem calc(100vh - 24rem - 6rem) 24rem;

    &__logo {
      @include flex(row, start, center, 1rem);

      padding: 2rem;

      .logo-svg {
        height: 3rem;
        cursor: pointer;
      }

      p.logo-text {
        @include secFont(2rem);
      }
    }

    &__list {
      @include flex(column, start, center, 1rem);

      display: grid;
      grid-template-rows: repeat(6, 5.4rem);
      padding: 1rem;
      list-style-type: none;
      overflow: hidden;

      &__element {
        @include flex(row, start, center, 1rem);
        @include rounded(1rem);

        width: 100%;
        height: 100%;
        border-bottom: solid 0.3rem $gc8;
        border-left: solid 0.3rem $gc8;
        border-bottom-right-radius: 0;
        border-top-left-radius: 0;

        &:hover {
          cursor: pointer;
          background-color: $gc8;
          border-color: $gc7;

          span {
            color: $gc3;
          }
        }

        &.un-active {
          pointer-events: none;
          span {
            filter: brightness(50%);
          }
          svg.list-icon {
            filter: brightness(50%);
          }
        }

        span {
          white-space: nowrap;
          font-size: 2rem;
          color: $gc5;
        }

        svg.list-icon {
          height: 3rem;
        }
      }
    }

    &__captures {
      @include wh100();

      padding: 1rem;
    }
  }
}
//*/

// resize
@media (max-width: 1000px) {
  .bar {
    &::after {
      display: none;
    }

    &__content {
      @include flex(row, start, center, 0);

      &__list {
        grid-template-rows: 1fr;
        grid-template-columns: repeat(6, 1fr);

        &__element {
          span {
            display: none;
          }
        }
      }

      &__captures {
        display: none;
      }
    }
  }
}
//*/
