@use "../../styles/shared.scss" as *;

@mixin svg() {
  @include abs-center;
}

.icon {
  position: relative;

  .board-svg {
    @include svg;

    height: 100%;
    z-index: 0;
    opacity: 0.1;
  }

  .vs-svg {
    @include svg;

    height: 50%;
    z-index: 1;
  }
}
