@use "../../../shared/styles/shared.scss" as *;

// game container
.game {
  @include wh100;
  @include flex;

  position: relative;
  z-index: 0;
  border-radius: 8rem;

  &__content {
    @include square(64rem);
    @include rounded(2rem);

    position: inherit;
    z-index: 10;
    background-color: rgba(#000, 0.9);
    overflow: hidden;
    outline: solid 1rem rgba(#000, 0.2);
  }
}

// resize
@media (width <= 1000px) {
  .game {
    &__content {
      @include square(68rem);
    }
  }
}

@media (height <= 500px) {
  .game {
    &__content {
      margin: 6rem 0;
    }
  }
}
