@use "../../../../shared/styles/shared.scss" as *;

@mixin set-stat-dimensions($row-font-size) {
  $row-gap: calc($row-font-size);
  $data-size: calc(5 * $row-font-size);

  .stats {
    &__title {
      font-size: calc(1.2 * $row-font-size);
    }

    &__data {
      grid-template-columns: repeat(5, $data-size);
      gap: $row-gap;

      .games {
        @include square($data-size);

        span {
          &:nth-child(1) {
            font-size: $row-font-size;
          }

          &:nth-child(2) {
            font-size: calc(2 * $row-font-size);
          }

          svg {
            height: $row-font-size;
          }
        }
      }

      .chart-con {
        @include square($data-size);

        .chart {
          left: calc($row-gap);

          .pie-chart {
            @include square(calc(1.2 * $data-size));
          }
        }
      }
    }
  }
}

$row-font-size: 1.8rem;

@include set-stat-dimensions($row-font-size);

// game starts rows
.stats {
  position: relative;
  width: 100%;
  padding: 1rem;
  border-bottom: solid 0.1rem $gc8;

  &__title {
    @include rounded(0.5rem);

    font-weight: bold;
    color: $gc3;
    background-color: rgba($gc8, 0.2);
    width: fit-content;
    padding: 0.5rem 3rem;
    border-right: solid 0.2rem $gc8;
    border-left: solid 0.2rem $gc8;
  }

  &__data {
    display: grid;
    margin: 1rem 0;

    .games {
      @include flex($direction: column);

      span {
        &:nth-child(1) {
          @include flex($gap: 0.5rem);

          color: $gc5;
        }
      }
    }

    // pie chart
    .chart-con {
      position: relative;

      .chart {
        position: absolute;
        bottom: 0;
        pointer-events: none;

        .pie-chart {
          pointer-events: all;

          &:hover {
            z-index: 1;
          }

          title {
            display: none;
          }
        }
      }
    }
  }
}

// resize
@media (width <= 1200px) {
  $row-font-size: 2.6rem;

  @include set-stat-dimensions($row-font-size);
}

@media (width <= 700px) {
  $row-font-size: 3rem;

  @include set-stat-dimensions($row-font-size);
}
