@use "../../../shared/styles/shared.scss" as *;

// default game section view container
.default {
  @include wh100();

  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  &__container {
    @include flex(column, start, start, 4rem);

    position: relative;
    z-index: 0;
    width: 100%;
    min-height: 50rem;
    padding: 6rem;

    .board-container {
      position: fixed;
      z-index: -1;
      pointer-events: none;
      // right panel / nav bar / padding
      width: calc(100% - 25% - 6rem - 2 * 6rem);
      height: calc(100vh - 2 * 6rem);
    }

    &__row {
      @include flex(row, space-between, center, 0);

      position: relative;
      width: 100%;
    }
  }
}
//*/

// resize
@media (max-width: 700px) {
  .default {
    &__container {
      margin-top: 4rem;
      padding: 0;

      .board-container {
        width: 100%;
      }
    }
  }
}
//*/
