@import "../../MainPage.module.scss";

.search {
  @include wh100();
  padding: 8rem 16rem;

  &__grid {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;

    // background-color: red;

    &__header {
      // grid-column: span 3;
      @include flex(row, start, center, 0);
      font-size: 2.4rem;
    }

    &__block {
      @include flex();
      @include rounded(1rem);

      // aspect-ratio: 18/9;
      background-color: $gc9;
      font-size: 3rem;
      box-shadow: inset 0 0 1rem 0.5rem $gc8;

      &:hover {
        cursor: pointer;
        background-color: $mc0;
        color: $mc9;
      }
    }
  }
}
