@use "../../../../shared/styles/shared.scss" as *;

// invitation card
.card {
  @include flex(row, space-between, center, 4rem);
  @include rounded(1rem);

  overflow: hidden;
  position: relative;
  padding: 2rem 4rem;
  margin-bottom: 1rem;
  background-color: rgba($gc9, 0.5);
  background-image: linear-gradient(60deg, #0000 calc(100% - 30rem), $gc9 0%, $gc9 100%);

  &.empty {
    filter: brightness(70%);
  }

  &__icon {
    @include square(4rem);

    .type-icon {
      height: 4rem;
    }
  }

  &__title {
    font-size: 2.2rem;
    color: $gc3;

    &.empty-title {
      @include flex(row, start, center, 4rem);
    }

    b.imp-data {
      color: $mc5;
    }

    .empty-icon {
      @include circle(4rem);

      box-shadow: 0 0 0 1rem $gc9;
    }

    .empty-text {
      @include flex(column, start, start, 1rem);

      width: 40rem;
      height: 4rem;

      p.t-filler {
        @include rounded(0.5rem);

        width: 100%;
        height: 1rem;
        background-color: $gc9;
      }
    }
  }

  &__actions {
    @include flex(row, center, center, 2rem);

    width: 30rem;

    .inv-expired {
      font-size: 2rem;
      color: $gc5;
    }

    .inv-button {
      background-color: #0000;
      outline: none;
      border: none;
      font-size: 2rem;

      &:nth-child(1) {
        color: $success-color-m;
      }

      &:nth-child(2) {
        color: $danger-color-m;
      }

      &:hover {
        cursor: pointer;
        text-decoration: underline;
        filter: brightness(120%);
      }
    }

    p.a-filler {
      @include rounded(0.5rem);

      position: relative;
      width: 100%;
      height: 2rem;
      background-color: rgba($gc8, 0.5);

      &::after {
        @include sub-class;

        height: 0.4rem;
        left: 0;
        bottom: -1rem;
        border-radius: 1rem;
        background-color: rgba($gc8, 0.5);
      }
    }
  }

  &__date {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 0.8rem;
    color: $gc6;
    padding: 0 2rem;
    padding: 0.5rem;
  }
}

// resize
@media (width <= 500px) {
  .card {
    background-image: linear-gradient(60deg, #0000 calc(100% - 26rem), $gc9 0%, $gc9 100%);

    &__icon {
      display: none;
    }

    &__title {
      .empty-text {
        width: 20rem;
      }
    }
  }
}
