@import '../HomePage.module.scss';

.play {
  @include container;

  position: relative;
  display: grid;
  grid-template-columns: auto 60rem;
  padding-top: 10rem;

  // board content
  &__content {
    position: relative;
    padding: 0 10rem;

    &__intro {
      @include textBg;

      position: relative;
      margin-bottom: 10rem;
      background-color: $mc0;

      &::after {
        @include subCl(0, 0.1rem);

        bottom: -4rem;
        box-shadow: 0 0 1rem 0.1rem $mc0;
        background-color: $mc0;

        transition: width 0.5s;
      }

      h2 {
        user-select: none;
        font-size: 16rem;
        line-height: 12rem;
        letter-spacing: -1rem;
      }
    }

    .open-intro {
      &::after {
        width: 180%;
      }
    }

    // board
    &__board {
      @include square(60rem);

      position: relative;
      margin: auto;

      @mixin boardSubElement {
        @include subCl(0, 0);
        @include circle(30rem);

        z-index: -1;
        background-color: rgba($gc0, 0.2);
        box-shadow: 0 0 1rem 5rem rgba($gc0, 0.01);
        filter: blur(4rem);
      }

      &::after {
        @include boardSubElement;

        top: 0;
        left: -5rem;
      }

      &::before {
        @include boardSubElement;

        bottom: -3rem;
        right: -3rem;
      }

      &__grid {
        position: relative;
        overflow: hidden;

        border-radius: $md-br;
        background-color: $gc9;
        box-shadow: -2rem 2rem 0 0 $gc9;

        transform: rotateX(10deg) rotateY(10deg) rotateZ(-5deg);
        transform-style: preserve-3d;

        &__inner {
          position: relative;
          display: grid;
          grid-template-rows: repeat(8, 1fr);
          gap: 0.5rem;

          overflow: hidden;
          border-radius: $md-br;
          border: solid 1rem $gc8;

          transition:
            box-shadow 1s,
            border-color 1s;

          .indicator {
            @include circle(20rem);
            z-index: -2;
            position: absolute;

            opacity: 1;
            background-color: $gc0;
            filter: blur(4rem);

            transform: translate(-60%, -60%);
          }

          .grid-row {
            display: grid;
            grid-template-columns: repeat(8, 1fr);
            gap: 0.5rem;
            z-index: -1;

            .tile {
              @include square(100%);

              filter: brightness(50%);
              border-radius: 0.5rem;
            }

            &:nth-child(even) {
              .tile {
                &:nth-child(odd) {
                  background-color: rgba($mc1, 0.5);
                }
                &:nth-child(even) {
                  background-color: rgba($mc9, 0.5);
                }
              }
            }
            &:nth-child(odd) {
              .tile {
                &:nth-child(even) {
                  background-color: rgba($mc1, 0.5);
                }
                &:nth-child(odd) {
                  background-color: rgba($mc9, 0.5);
                }
              }
            }
          }
        }

        .board-intro {
          border-color: $gc0;
          box-shadow: inset 0 0 1rem 0.5rem $gc0;
        }

        &__outer {
          @include absCenter;
          @include square(100%);

          display: grid;
          grid-template-columns: repeat(8, 1fr);
          grid-template-rows: repeat(8, 1fr);
          border: solid 1rem #0000;

          .pawn {
            position: relative;

            &:hover {
              img {
                top: 2rem;
                filter: brightness(80%);
              }
            }

            img {
              @include absCenter;

              rotate: 5deg;
              height: 5.4rem;
              filter: brightness(60%);
              transition: all 0.3s;
            }

            p {
              @include absCenter;

              top: 5.8rem;
              width: 5.4rem;
              height: 1rem;
              z-index: -1;
              background-color: #000;
              border-radius: 100%;
              filter: blur(0.4rem);
              rotate: 5deg;
            }
          }
        }
      }
    }
    // end board
  }
  // end board content

  // play actions
  &__actions {
    @include flex(column, end, end, 0);

    height: 100%;
    padding-right: 12rem;
    pointer-events: none;

    &__buttons {
      @include flex(column, center, center, 4rem);

      width: 100%;
      height: 60rem;
      pointer-events: all;

      h3 {
        font-size: 4rem;
        text-shadow: 0.2rem 0.1rem $mc5;
      }

      h4 {
        font-size: 2rem;
        color: $gc4;
        text-align: justify;
      }

      button {
        @include button(4rem);
        @include flex(row, space-between, center, 2rem);

        svg {
          height: 6rem;
        }
      }

      .vs-player-button {
        @include mainMButton;
        .vs-player-icon {
          path {
            fill: $mc0;
          }
        }
      }
      .vs-computer-button {
        @include secMButton;
        .vs-computer-icon {
          path {
            fill: $mc9;
            transition: fill 0.3s;
          }
        }

        &:hover {
          path {
            fill: $mc0;
          }
        }
      }
    }
  }
}
