@use "../../../shared/styles/shared.scss" as *;
@use "../GamePage.module.scss" as GamePage;

// right side bar container
.bar {
  @include wh100;

  max-height: 100vh;
  position: relative;

  &::after {
    @include sub-class;

    z-index: 1;
    top: 0;
    right: 100%;
    border-top-right-radius: 8rem;
    border-bottom-right-radius: 8rem;
    box-shadow: 10rem 0 0 10rem $gc9;
    border-right: solid 1rem $gc8;
    pointer-events: none;
  }

  // right side bar content
  &__content {
    position: inherit;
    z-index: 2;
    height: 100%;
    padding: 2rem;
    background-color: $gc9;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 8rem 4rem calc((100% - 18rem) / 2) calc((100% - 18rem) / 2);
    gap: 2rem;

    &__header {
      @include flex($gap: 2rem);

      &__player {
        @include flex($direction: row, $gap: 1rem);

        @mixin player-img($bg_color) {
          @include flex;
          @include circle(5rem);

          padding: 0.6rem;
          border-radius: 100%;
          overflow: hidden;
          background-color: $bg_color;

          .player-img {
            @include wh100;

            border-radius: 100%;
          }
        }

        .white-player-img {
          @include player-img(#fff);
        }

        .black-player-img {
          @include player-img(#000);
        }

        .player-data {
          display: grid;
          grid-template-rows: repeat(3, 1fr);
          gap: 0.2rem;
          overflow: hidden;

          .name {
            @include long-text;

            width: fit-content;
            max-width: 10rem;
            font-size: 1.2rem;
          }

          .elo {
            font-size: 1.2rem;

            span {
              color: $mc3;
            }
          }

          .advantage {
            .advantage-icon {
              height: 1.2rem;
            }
          }
        }
      }

      p.vs {
        font-size: 2rem;
        font-weight: bold;
      }
    }

    .fetching {
      @include flex;

      font-size: 1.6rem;
    }

    .bar-block {
      @include GamePage.bar-block;

      overflow-y: scroll;

      &.empty {
        overflow: hidden;
      }

      &::-webkit-scrollbar {
        display: none;
      }

      .bar-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        height: fit-content;
      }
    }

    &.null-timing {
      grid-template-rows: 12rem calc((100% - 18rem) / 2) calc((100% - 18rem) / 2);
    }
  }

  &.simple-view {
    height: fit-content;

    &::after {
      display: none;
    }

    .bar-block {
      display: none;
    }

    .bar__content {
      border-bottom-left-radius: 4rem;

      &.null-timing {
        gap: 0;
      }
    }
  }
}

// resize
@media (width <= 1000px) {
  .bar {
    height: 100% !important;
    border-top: solid 0.5rem $gc8;

    &::after {
      display: none;
    }

    &__content {
      grid-template-rows: 100%;
      grid-template-columns: 1fr 1fr;
      padding: 0;
      border-radius: 0 !important;

      &__header {
        height: 100%;

        &__player {
          .player-data {
            .name {
              font-size: 1.4rem;
            }

            .elo {
              font-size: 1.4rem;
            }

            .advantage {
              .advantage-icon {
                height: 1.4rem;
              }
            }
          }
        }
      }

      .bar-block {
        &.records-block {
          display: none;
        }

        &.messages-block {
          position: absolute;
          right: 1rem;
          bottom: 100%;
          background-color: $gc9;
          padding: 0;
          border-radius: 0;
          border: solid 0.5rem $gc8;
          border-top-left-radius: 2rem;
          border-top-right-radius: 2rem;
        }
      }
    }
  }
}
