@import '../../styles/variables/color.scss';
@import '../../styles/commons-styles/elements.scss';

.loading {
  @include wh100();

  position: relative;

  &__inner {
    @include absCenter();

    width: 16%;
    aspect-ratio: 1/1;
    border-radius: 100%;
    border: solid 1em $mc8;
    border-bottom: solid 1em #0000;

    animation: innerLoading 3s linear infinite;
  }

  @keyframes innerLoading {
    from {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }

  &__outer {
    @include absCenter();

    width: 10%;
    aspect-ratio: 1/1;
    border-radius: 100%;
    border: solid 1em $mc4;
    border-top: solid 1em #0000;

    animation: outerLoading 1s linear infinite reverse;
  }

  @keyframes outerLoading {
    from {
      transform: translate(-50%, -50%) rotate(0deg);
    }

    to {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }
}
