@use "../../../../shared/styles/shared.scss" as *;

// friend card
.card {
  @include rounded(1rem);
  @include emerge-ani(0.2s, 0s, -1rem);

  position: relative;
  max-width: 40rem;
  overflow: hidden;
  background-color: $gc9;
  min-height: 16rem;
  height: fit-content;
  border-bottom: solid 0.3rem $mc9;

  &::after {
    @include sub-class(60rem, 60rem);
    @include abs-center;
    @include grid-bg(10rem, $mc7, $mc0, 0.05);

    z-index: 0;
    transform: translate(-50%, -50%) rotateX(70deg) rotateZ(170deg);
  }

  &::before {
    @include sub-class;
    @include abs-center;

    top: 5%;
    z-index: 1;
    background-color: rgba($mc9, 0.1);
  }

  &__content {
    @include flex(row, start, start, 1rem);

    position: relative;
    z-index: 2;
    height: 100%;

    &__avatar {
      margin-top: 1rem;

      @mixin avatar() {
        @include circle(8rem);

        opacity: 0.8;
        border: solid 0.5rem $mc9;
        box-shadow: 0 0 0.5rem 0 $mc5;
      }

      .avatar-svg {
        @include avatar;
      }

      .avatar-img {
        @include avatar;

        object-fit: cover;
      }
    }

    &__info {
      @include flex(column, start, start, 0.5rem);

      width: 100%;
      height: 10rem;

      .user-name {
        @include flex(column, start, start, 0.5rem);

        min-width: 90%;
        max-width: 100%;

        p {
          @include long-text;

          padding: 0.2rem;
          border-bottom: solid 0.2rem rgba($mc5, 0.2);

          &:nth-child(1) {
            font-size: 2rem;
          }

          &:nth-child(2) {
            font-size: 1.4rem;
            color: $gc5;
          }
        }
      }

      .country {
        @include flex(row, start, center, 0.5rem);

        width: 90%;
        padding: 0.2rem;
        border-bottom: solid 0.2rem rgba($mc5, 0.2);

        .image {
          @include circle(2.2rem);
          @include flex;

          overflow: hidden;

          img {
            height: 170%;
          }
        }

        span {
          font-size: 1.4rem;
          color: $gc5;
        }
      }
    }
  }

  &__actions {
    @include flex(column, start, center, 0.5rem);

    position: relative;
    z-index: 9;
    width: 100%;
    padding: 1rem;
    padding-top: 2rem;

    button {
      @include flex($gap: 0.5rem);
      @include button(1.6rem);

      display: inline-flex;
      width: 100%;
      border-radius: 0.5rem;

      .button-icon {
        height: 2rem;
      }

      &:hover {
        .button-icon {
          path {
            stroke: $mc0;
          }
        }
      }
    }

    button.main-button {
      @include main-m-button;

      background-color: $mc5;

      &:hover {
        background-color: $mc9;
      }
    }

    button.sec-button {
      @include sec-m-button;
    }

    .action-info {
      width: 100%;
      text-align: end;
      padding: 0.6rem;
      font-size: 1.6rem;
      color: $gc4;
    }
  }
}

// resize
