@import "../RegisterPage.module.scss";

.sign-form {
  @include flex(column, center, center, 2rem);
  @include square(100%);

  position: relative;
  animation: formAnimation 0.5s;

  .bg-svg {
    position: absolute;
    bottom: 4rem;
    right: 4rem;
    height: 30rem;
    opacity: 0.02;

    transform: rotate(-10deg);
  }

  h2 {
    font-size: 3.2rem;
  }

  .change-form {
    font-size: 1.2rem;
    margin-bottom: 2rem;

    span {
      color: $mc5;
      text-decoration: underline;
      user-select: none;
      cursor: pointer;
    }
  }

  .form-row {
    position: relative;

    input {
      @include tInput(2rem);

      &:focus ~ .reg-pass-ind {
        opacity: 1;
      }
      &:focus ~ .arrow {
        opacity: 1;
      }
    }

    .err {
      &::placeholder {
        color: $danger-color-m;
      }
    }

    .arrow {
      position: absolute;
      height: 1.6rem;
      top: 50%;
      left: -2rem;
      transform: translateY(-50%) rotateY(180deg);
      opacity: 0;
    }

    .reg-pass-ind {
      @include circle(2rem);

      position: absolute;
      right: 0;
      opacity: 0;
    }
  }

  .error {
    span {
      font-size: 1.4rem;
      color: $danger-color-m;
    }
  }

  button {
    @include button(2.2rem);
    @include mainMButton;

    margin: 2rem;
  }
}
