@import "../RegisterPage.module.scss";

.sign-form {
  @include flex(column, center, center, 2rem);
  @include square(100%);

  position: relative;
  animation: formAnimation 0.5s;
  padding: 0 6rem;

  .bg-svg {
    position: absolute;
    z-index: -1;
    bottom: 4rem;
    right: 4rem;
    height: 30rem;
    opacity: 0.02;

    transform: rotate(-10deg);
  }

  h2 {
    font-size: 3.2rem;
  }

  .change-form {
    font-size: 1.2rem;
    margin-bottom: 2rem;

    span {
      color: $mc5;
      text-decoration: underline;
      user-select: none;

      &:hover {
        cursor: pointer;
        color: $mc4;
      }
    }
  }

  .form-row {
    position: relative;

    input {
      @include tInput(2rem);

      &:focus ~ .reg-pass-ind {
        opacity: 1;
      }
      &:focus ~ .arrow {
        opacity: 1;
      }
    }

    .err {
      &::placeholder {
        color: $danger-color-m;
      }
    }

    .arrow {
      position: absolute;
      height: 1.6rem;
      top: 50%;
      left: -2rem;
      transform: translateY(-50%) rotateY(180deg);
      opacity: 0;
    }

    .reg-pass-ind {
      @include circle(2rem);

      position: absolute;
      right: 0;
      opacity: 0;
    }
  }

  .error {
    span {
      font-size: 1.4rem;
      color: $danger-color-m;
    }
  }

  .verify-text {
    font-size: 1.6rem;
    text-align: center;
  }

  .verify {
    @include flex(column, start, center, 1rem);

    margin: 2rem;

    span {
      font-size: 2rem;
      user-select: none;
    }

    .verify-input {
      @include cInput(2.4rem, $gc0, $mc9);
      width: 16rem;
    }
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
    }

    .resend {
      font-size: 1.4rem;
      color: $mc5;
      text-decoration: underline;

      &:hover {
        cursor: pointer;
        color: $mc4;
      }
    }
  }

  button {
    @include button(2.2rem);
    @include mainMButton;

    margin: 2rem;
  }
}
