@import "../Main.scss";

// user page container
.users-main {
  @include wh100();
  @include gridBg();
  @include forNav();

  & {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10rem auto;
    padding: 0 20rem;
  }
}
//*/
