@use "../../shared/styles/shared.scss" as *;
@use "../Main.scss" as Main;

// user page container
.users-main {
  @include wh100;
  @include grid-bg;
  @include Main.for-nav;

  & {
    display: grid;
    grid-template-columns: 36rem auto;
  }

  .users-list {
    position: relative;
    height: 100%;
    overflow: hidden;
  }
}

// resize
@media (width <= 700px) {
  .users-main {
    height: 100vh;
    height: 100dvh;
    padding: 0;
    padding-top: 6rem;
    grid-template-columns: 1fr;
    grid-template-rows: 12rem auto;
  }
}
