@use "../../shared/styles/shared.scss" as *;
@use "../Main.scss" as Main;

// user page container
.users-main {
  @include wh100;
  @include grid-bg;
  @include Main.for-nav;

  display: grid;
  grid-template-columns: 36rem auto;

  .users-list {
    position: relative;
  }
}

// resize
@media (width <= 700px) {
  .users-main {
    padding: 0;
    padding-top: 6rem;
  }
}
