@use "../../shared/styles/shared.scss" as *;
@use "../Main.scss" as Main;

// default main page section container
.main {
  @include wh100();
  @include gridBg();
  @include Main.forNav();

  & {
    position: relative;
    overflow: hidden;
  }

  &__container {
    @include wh100();

    &__content {
      position: relative;
      height: 100%;
      display: grid;
      grid-template-columns: 75% auto;

      .game-interface {
        position: relative;
        height: 100%;
        max-height: 100vh;
      }
    }
  }
}
//*/

// resize
@media (max-width: 700px) {
  .main {
    &__container {
      &__content {
        grid-template-columns: 1fr;
        grid-template-rows: 12rem auto;

        &__col {
          &:nth-child(2) {
            grid-row: 1;
          }

          .game-interface {
            height: calc(100vh - 12rem - 6rem);
          }
        }
      }
    }
  }
}
//*/
