@use "../../shared/styles/shared.scss" as *;
@use "../Main.scss" as Main;

// default main page section container
.main {
  @include wh100;
  @include grid-bg;
  @include Main.for-nav;

  & {
    position: relative;
    overflow: hidden;
  }

  &__container {
    @include wh100;

    &__content {
      position: relative;
      height: 100%;
      display: grid;
      grid-template-columns: 75% auto;

      .game-interface {
        position: relative;
        height: 100%;
        max-height: 100vh;
      }
    }
  }
}

// resize
@media (width <= 700px) {
  .main {
    &__container {
      &__content {
        grid-template-columns: 1fr;
        // btn size + pad
        grid-template-rows: 11rem auto;

        .game-interface {
          // 100 vh - main buttons - nav
          height: calc(100dvh - 11rem - 6rem);
        }
      }
    }
  }
}
