@import '../../../shared/styles/Components.scss';

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  height: 100svh;
  margin-bottom: 100rem;

  &__content {
    width: 100%;
    height: 90%;
    border-bottom-left-radius: $large_br;
    background-image: linear-gradient(#0000 0%, #000 100%),
      url('images/hero-background.jpg');
    background-color: #000;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    box-shadow: -1rem 1rem 0 rgba($mcolor9, 0.5);

    &__intro {
      position: absolute;
      left: 30%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 38%;
      padding: 2rem;
      background-color: rgba($gcolor9, 0.3);
      border-radius: $small_br;
      text-shadow: 0.1rem 0.1rem #000;

      h1 {
        margin-bottom: 2rem;
        padding: 0.8rem 1.6rem;
        text-align: center;
        font-size: 3.2rem;
        border: 0.5rem solid #0000;
        background:
          conic-gradient(
              from 90deg at top 0.5rem left 0.5rem,
              #0000 90deg,
              $gcolor0 0
            )
            0 0 / 3rem 3rem border-box no-repeat,
          conic-gradient(
              from -90deg at bottom 0.5rem right 0.5rem,
              #0000 90deg,
              $gcolor0 0
            )
            100% 100% / 3rem 3rem border-box no-repeat;
      }

      span {
        display: block;
        font-size: 1.6rem;
      }
    }

    &__extra {
      position: absolute;
      top: 30%;
      right: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      width: 40%;
      height: 80vh;
      padding: 6.4rem;
      background-color: $mcolor7;
      color: $gcolor0;
      border-bottom-left-radius: $medium_br;
      border-top-left-radius: $medium_br;
      border: solid 1rem $mcolor9;
      border-right: none;

      &::after {
        @include shadow;
        content: '';
        left: -2rem;
        bottom: -2rem;
        width: calc(100% + 2rem);
        height: 100%;
        border-bottom-left-radius: $medium_br;
      }
    }
  }
}
