@import '../../../shared/styles/Components.scss';

@mixin imagePawnStyles($mainColor, $sideColor, $shadowColor) {
  div {
    &:nth-child(odd) {
      background-color: $mainColor;
      background-image: linear-gradient(
        to top,
        $sideColor 30%,
        $mainColor 100%
      );
    }

    &:nth-child(even) {
      background-color: $shadowColor;
      box-shadow: 0 0 0rem 1rem $shadowColor;
      z-index: -1;
    }
  }
}

@mixin imagePawn($div) {
  position: absolute;

  @include flexBlock(column, 0, start, center);

  transform-style: preserve-3d;
  transition: top 0.3s;

  div {
    position: absolute;

    &:nth-child(even) {
      z-index: -1;
    }

    &:nth-child(1),
    &:nth-child(2) {
      width: calc(6rem / $div);
      aspect-ratio: 1/1;
      border-radius: 100%;
      top: 0;
    }

    &:nth-child(3),
    &:nth-child(4) {
      width: calc(10rem / $div);
      aspect-ratio: 1/1;
      border-radius: 100%;
      top: calc((8rem - 3rem) / $div);
    }
    &:nth-child(5),
    &:nth-child(6) {
      width: calc(16rem / $div);
      height: calc(12rem / $div);
      border-radius: 50% 50% 50% 50% / 90% 90% 10% 10%;
      top: calc((8rem - 3rem + 12rem - 4rem) / $div);
    }

    &:nth-child(1) {
      z-index: 9;
    }
    &:nth-child(3) {
      z-index: 8;
    }
    &:nth-child(5) {
      z-index: 7;
    }
  }
}

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  height: 100svh;

  &__content {
    position: relative;
    width: 100%;
    height: 64rem;

    border-bottom-left-radius: $large_br;
    background-image: linear-gradient(#0000 0%, #000 100%),
      url('images/hero-background.jpg');
    background-color: #000;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    box-shadow: -2rem 2rem 0 0 rgb(67, 43, 137);

    @mixin subElement {
      content: '';
      position: absolute;
      @include squareBlock(10rem);
      border: solid 2rem rgb(67, 43, 137);
      border-left: none;
    }

    &::after {
      @include subElement();
      top: 64rem;
      left: calc(100% - 60rem - 12rem);
      border-bottom: none;
      border-top-right-radius: $large_br;
      box-shadow: 4rem -4rem 0 1rem #000;
    }

    &::before {
      @include subElement();
      z-index: 2;
      top: calc(64rem - 10rem);
      left: calc(100% - 60rem - 12rem);
      border-top: none;
      border-bottom-right-radius: $large_br;
    }

    &__background {
      z-index: 0;
      position: absolute;
      width: 100%;
      height: 100%;

      border-bottom-left-radius: $large_br;
      overflow: hidden;

      &::after {
        content: '';
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        background-color: rgba(#000, 0.7);
      }

      video {
        position: absolute;
        z-index: -1;
        height: 120%;
        object-fit: cover;
        filter: grayscale(100%);
      }
    }

    .nav-logo {
      @include flexBlock(row, 2rem, center, center);
      position: absolute;
      z-index: 100;
      top: 3.2rem;
      left: 6.4rem;
      pointer-events: all;

      a {
        display: block !important;
        text-decoration: none;
        width: fit-content;
        height: fit-content;

        &:hover {
          cursor: pointer;
        }

        svg.logo-svg {
          height: 4rem;
        }
      }

      p {
        font-size: 3rem;
        font-family: 'Knewave';
        overflow: hidden;
        user-select: none;
      }
    }

    &__intro {
      position: absolute;
      left: 30%;
      top: 36rem;
      transform: translate(-50%, -50%);
      // transform: translate(-50%, -50%) scale(0);
      width: 70rem;
      padding: 2rem 6rem;
      overflow: hidden;
      border-radius: $small_br;

      @include flexBlock(column, 3rem, center, center);
      background-color: rgba($gcolor9, 0.2);
      text-shadow: 0.1rem 0.1rem #000;

      // animation: beginIntro 0.5s ease-in 2s forwards;

      h1 {
        padding: 0.8rem 6.4rem;
        text-align: center;
        font-size: 6.4em;
        border: 0.5rem solid #0000;
        text-shadow: 0.2rem 0.1rem $mcolor5;
        user-select: none;

        background:
          conic-gradient(
              from 90deg at top 0.5rem left 0.5rem,
              #0000 90deg,
              $gcolor0 0
            )
            0 0 / 3rem 3rem border-box no-repeat,
          conic-gradient(
              from -90deg at bottom 0.5rem right 0.5rem,
              #0000 90deg,
              $gcolor0 0
            )
            100% 100% / 3rem 3rem border-box no-repeat;
      }

      span {
        display: block;
        font-size: 1.8rem;
        color: $gcolor5;
      }
    }

    // @keyframes beginIntro {
    //   to {
    //     transform: translate(-50%, -50%) scale(1);
    //   }
    // }

    @mixin extra {
      position: absolute;
      z-index: 9;
      top: 24rem;
      right: 0;
      width: 60rem;
      height: 60rem;
    }

    &__extra_bg {
      @include extra;

      border-bottom-left-radius: $medium_br;
      border-top-left-radius: $medium_br;

      box-shadow: 0 0 0 2rem rgb(67, 43, 137);

      overflow: hidden;
      background-image: linear-gradient(#000, #000, $mcolor7);

      .board-grid {
        position: absolute;
        z-index: -1;
        top: -80%;
        left: -50%;

        width: 200%;
        aspect-ratio: 1/1;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(5, 1fr);
        gap: 0;

        border: solid 0.5rem $gcolor0;

        transform-style: preserve-3d;
        transform: rotateX(70deg) rotateZ(45deg);
        animation: boardHighlight 3s infinite;

        @keyframes boardHighlight {
          0% {
            box-shadow: 0 0 4rem 2rem rgba($gcolor0, 0.5);
          }
          50% {
            box-shadow: 0 0 4rem 3rem rgba($gcolor0, 0.5);
          }
          100% {
            box-shadow: 0 0 4rem 2rem rgba($gcolor0, 0.5);
          }
        }

        &::after {
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;

          background-image: linear-gradient(
            to top left,
            #0000 0%,
            rgba($mcolor7, 0.95) 60%
          );
        }

        p {
          position: relative;
          overflow: hidden;
          border: solid 0.5rem $gcolor0;

          &::after {
            content: '';
            position: absolute;
            width: 200%;
            height: 30%;
            rotate: 15deg;
          }

          &:nth-child(odd) {
            background-color: rgba(#000, 0.4);
            &::after {
              background-image: linear-gradient(rgba($mcolor0, 0.3), #0000);
            }
          }
          &:nth-child(even) {
            background-color: rgba(#fff, 0.4);
            &::after {
              background-image: linear-gradient(rgba($mcolor9, 0.3), #0000);
            }
          }
        }
      }

      .img-pawn-container {
        @include imagePawn(2);
        filter: blur(0.3rem) brightness(70%);
      }

      .pawn-white {
        @include imagePawnStyles($mcolor2, $mcolor3, #111);
      }

      .pawn-black {
        @include imagePawnStyles($gcolor9, #000, $mcolor2);
      }
    }

    &__extra {
      @include extra;
      padding: 6rem;

      .hero-actions {
        width: 100%;
        height: 100%;
        @include flexBlock(row, 0, center, start);

        .pawn-container {
          position: relative;
          width: 50%;
          height: calc(6rem + 10rem + 12rem);
          @include flexBlock(row, 0, center, start);
          user-select: none;

          &:hover {
            cursor: pointer;

            &::after {
              width: 23rem;
              opacity: 0.7;
            }
          }

          &::after {
            content: '';
            position: absolute;
            left: 50%;
            top: calc(6rem + 10rem + 12rem - 5rem);
            width: 22rem;
            height: 4rem;
            border-radius: 100%;
            opacity: 0.9;
            z-index: -1;

            background-color: #000;
            filter: blur(4px);

            transform: translateZ(-1px) translateX(-50%);
            transition: all 0.3s;
          }

          &:hover > .img-pawn-container {
            top: -10rem;
          }

          &:hover > p {
            opacity: 1;
            height: 8rem;
            transition:
              height 0.1s 0s,
              opacity 0.3s 0.1s;
          }

          .img-pawn-container {
            top: 0rem;
            width: 100%;
            height: calc(6rem + 10rem + 12rem);
            z-index: 3;

            @include imagePawn(1);
          }

          p {
            position: absolute;
            z-index: 2;
            top: calc(6rem + 10rem + 12rem - 10rem - 4rem);
            height: 0;
            width: 18rem;

            padding: 2rem;
            border-bottom-left-radius: $small_br;
            border-bottom-right-radius: $small_br;

            font-size: 3rem;
            font-weight: 600;
            opacity: 0;
            text-align: center;

            transition:
              height 0.3s,
              opacity 0.1s;
          }
        }

        .signin-pawn {
          left: 0;

          .img-pawn-container {
            @include imagePawnStyles($mcolor2, $mcolor3, #111);
          }

          p {
            background-color: #111;
            color: $mcolor2;
          }
        }

        .signup-pawn {
          right: 0;

          .img-pawn-container {
            @include imagePawnStyles($gcolor9, #000, $mcolor2);
          }

          p {
            background-color: $mcolor2;
            color: #111;
          }
        }
      }
    }
  }
}
