@use "../../shared/styles/shared.scss" as *;
@use "../Main.scss" as Main;

// account page container
.account-main {
  @include wh100;
  @include grid-bg;
  @include Main.for-nav;

  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
}

// resize
@media (width <= 1200px) {
  .account-main {
    grid-template-columns: 1fr;
    overflow: visible;
  }
}
