@import "../../../Main.scss";

// empty cards
.empty {
  @include wh100();

  .no-data {
    z-index: 1;
    text-align: center;
    user-select: none;

    @include absCenter();

    span {
      font-size: 4rem;
      font-weight: bold;
    }
  }

  .empty-card {
    background-color: $gc9;
    aspect-ratio: 3 / 4;
    opacity: 0.3;
    border-radius: 1rem;

    @include flex($direction: column, $gap: 1rem);

    .blank-avatar {
      height: 10rem;
      filter: grayscale(1) brightness(50%);
    }

    p.blank-text {
      width: 80%;
      background-color: $gc8;

      @include rounded(1rem);
    }
  }
}
//*/

// resize
//*/
