@use "../../../../shared/styles/shared.scss" as *;

// empty cards
.empty {
  @include wh100();

  grid-column: 1 / 5;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;

  .no-data {
    @include absCenter();

    z-index: 1;
    text-align: center;
    user-select: none;
    width: 40rem;
    height: 16rem;

    span {
      font-size: 4rem;
      font-weight: bold;
    }
  }

  .empty-card {
    @include flex($direction: column, $gap: 1rem);

    position: relative;
    background-color: $gc9;
    aspect-ratio: 3 / 4;
    border-radius: 1rem;
    opacity: 0.3;
    overflow: hidden;

    .blank-avatar {
      height: 10rem;
      filter: grayscale(1) brightness(50%);
    }

    p.blank-text {
      @include rounded(1rem);

      width: 80%;
      background-color: $gc8;
    }
  }
}
//*/

// resize
//*/
