@use "../../../../shared/styles/shared.scss" as *;

.window {
  @include abs-center;
  @include wh100;
  @include flex;

  z-index: 100;
  background-color: rgba(#000, 0.7);

  &__content {
    @include rounded(5rem);
    @include flex(column, center, center, 4rem);
    @include emerge-ani;

    background-color: rgba($gc9, 1);
    overflow: hidden;
    border-bottom: solid 0.5rem $gc8;

    &__header {
      position: relative;
      font-size: 3.6rem;
      color: $mc0;
      white-space: nowrap;
      font-weight: bold;
      text-align: center;
    }

    &__actions {
      @include flex($gap: 3rem);

      .confirm-button {
        @include button(3rem);
        @include main-g-button;

        & {
          width: 5rem;
          box-sizing: content-box;
          border-left: none;
          border-right: none;
        }

        &.yes-btn {
          color: $success-color-m;
          border-bottom-color: $success-color-m;

          &:hover {
            border-color: #0000;
            box-shadow: 0 0 0 0.4rem $success-color-m;
          }
        }

        &.no-btn {
          color: $danger-color-m;
          border-bottom-color: $danger-color-m;

          &:hover {
            border-color: #0000;
            box-shadow: 0 0 0 0.4rem $danger-color-m;
          }
        }
      }
    }
  }
}
