@use "../../../../shared/styles/shared.scss" as *;
@use "../../../../shared/components/action-button/ActionButton.module.scss" as ActionButton;

$sqr_size: 7rem;

.bot {
  @include wh100();

  position: relative;

  &__content {
    @include absCenter();
    @include rounded(2rem);
    @include showAni();

    & {
      width: calc(100% - 2 * 16rem);
      height: fit-content;
      display: grid;
      grid-template-columns: calc(5 * $sqr_size + 4 * 1rem) auto;
      background-color: rgba($gc9, 0.3);
      gap: $sqr_size;
    }

    &__level {
      width: calc(5 * $sqr_size + 4 * 1rem);

      &__header {
        @include flex();

        height: $sqr_size;
        padding-bottom: 1rem;

        h2 {
          font-size: 3rem;
        }
      }

      &__grid {
        width: fit-content;
        height: fit-content;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(5, 1fr);
        gap: 1rem;

        .engine-level {
          @include square($sqr_size);
          @include rounded(1rem);
          @include flex();

          position: relative;
          background-color: $gc9;
          border: solid 0.3rem $gc8;

          &:hover {
            cursor: pointer;
            box-shadow: 0 0 1rem 0 $gc0;

            span {
              color: $mc0;
              filter: drop-shadow(0 0 1rem $mc0);
            }

            .lvl-icon {
              opacity: 0.2;
            }
          }

          &.selected {
            box-shadow: 0 0 1rem 0 $gc0;

            span {
              color: $mc0;
              filter: drop-shadow(0 0 1rem $mc0);
            }

            .lvl-icon {
              opacity: 0.2;
            }
          }

          span {
            @include secFont(3rem);

            width: 100%;
            text-align: center;
            z-index: 1;
            color: $mc9;
          }

          .lvl-icon {
            @include absCenter();

            z-index: 0;
            height: 80%;
            opacity: 0.1;

            line {
              fill: none;
              stroke: $mc0;
              stroke-width: 2;
              stroke-linecap: round;
              stroke-linejoin: round;
              stroke-miterlimit: 10;
            }

            path {
              fill: none;
              stroke: $mc0;
              stroke-width: 2;
              stroke-linecap: round;
              stroke-linejoin: round;
              stroke-miterlimit: 10;
            }
          }
        }
      }
    }

    &__options {
      @include flex(column, start, start, 2rem);

      margin-top: $sqr_size;
      width: 100%;

      &__option {
        .option-name {
          font-size: 2rem;
          color: $gc4;
          margin-bottom: 1rem;
        }

        .buttons {
          @include flex(row, start, center, 1rem);

          .option-button {
            & {
              @include button(1.8rem);
              @include mainGButton();

              & {
                width: 5rem;
                box-sizing: content-box;
                border: none;
                padding: 1rem 2rem;
                transition: all 0.3s;
                color: $gc0;
              }
            }

            &:hover {
              border-color: #0000;
              box-shadow: inset 0 0 0 0.4rem $gc0;
            }

            &:focus,
            &:active {
              box-shadow: none;
            }

            &.active-button {
              color: $gc9;
              background-color: $gc0;
            }
          }
        }
      }

      .continue-button {
        @include ActionButton.actionButton();

        position: absolute;
        bottom: 5rem;
      }
    }
  }
}
