@use "../../../../shared/styles/shared.scss" as *;

// winner window container
.winner {
  @include abs-center;
  @include wh100;
  @include flex;

  z-index: 100;
  background-color: rgba(#000, 0.7);
  pointer-events: none;

  &__content {
    @include emerge-ani;

    background-color: $gc9;
    border-radius: 4rem;
    overflow: hidden;
    pointer-events: all;
    width: 44rem;

    .title {
      position: relative;
      font-size: 3rem;
      color: $mc5;
      white-space: nowrap;
      padding: 2rem 8rem;
      font-weight: bold;
      text-align: center;
      text-shadow: 0.2rem 0 $mc9;

      @mixin sub-element() {
        @include sub-class(2rem);

        width: 4rem;
        height: 8rem;
        bottom: -8rem;
      }

      &::after {
        @include sub-element;

        left: 0;
        border-top-left-radius: 4rem;
      }

      &::before {
        @include sub-element;

        right: 0;
        border-top-right-radius: 4rem;
      }

      &.white-winner {
        background-color: #fff;

        &::after {
          box-shadow: -0.1rem -4rem 0 0 #fff;
        }

        &::before {
          box-shadow: 0.1rem -4rem 0 0 #fff;
        }
      }

      &.black-winner {
        background-color: #000;

        &::after {
          box-shadow: -0.1rem -4rem 0 0 #000;
        }

        &::before {
          box-shadow: 0.1rem -4rem 0 0 #000;
        }
      }

      .x {
        position: absolute;
        top: 50%;
        right: 2rem;
        transform: translateY(-50%);

        &:hover {
          cursor: pointer;

          svg.x-icon path {
            fill: $gc8;
          }
        }

        svg.x-icon {
          height: 6rem;
        }
      }
    }

    // end game result data
    &__info {
      @include flex($direction: column);

      border-radius: 4rem;
      border: 0.3rem solid $gc8;
      border-top: 0.6rem solid $gc8;
      overflow: hidden;
      padding-bottom: 2rem;

      &__players {
        @include flex($gap: 2rem);

        width: 100%;
        padding: 2rem;

        .vs {
          @include flex($direction: column, $gap: 1rem);

          font-size: 3rem;
          font-weight: bold;

          span {
            @include flex;

            position: relative;
            white-space: nowrap;
            width: fit-content;

            &:nth-child(1) {
              height: 6rem;
            }

            &:nth-child(2) {
              font-size: 2.2rem;
              color: $mc0;
            }

            @mixin sign() {
              position: absolute;
              top: -1rem;
              right: -1rem;
              height: fit-content;
              font-size: 2rem;
            }

            span.p {
              @include sign;

              color: $success-color-m;
            }

            span.m {
              @include sign;

              color: $danger-color-m;
            }
          }
        }

        .player {
          @include flex($direction: column, $gap: 0.5rem);

          position: relative;

          @mixin player-img($bg-color) {
            @include flex;
            @include circle(10rem);

            padding: 1rem;
            background-color: $bg-color;

            .player-img {
              @include wh100;

              border-radius: 100%;
            }
          }

          .white-player-img {
            @include player-img(#fff);
          }

          .black-player-img {
            @include player-img(#000);
          }

          .player-data {
            @include flex($direction: column, $gap: 0.2rem);

            overflow: hidden;

            .name {
              @include long-text;

              width: fit-content;
              max-width: 12rem;
              font-size: 2rem;
            }

            .elo {
              font-size: 2rem;

              span {
                color: $mc3;
              }
            }
          }

          .crown-icon {
            position: absolute;
            top: -1.5rem;

            height: 3rem;
          }
        }
      }

      &__buttons {
        @include flex;

        width: 100%;
        padding: 2rem;

        @mixin game-action-button() {
          @include button(2.4rem);

          border-radius: 0;
          width: 50%;
          padding: 1rem 4rem;

          &:active,
          &:focus {
            box-shadow: none !important;
            outline: none !important;
          }
        }

        .new-game {
          @include game-action-button;
          @include main-m-button;

          & {
            border-top-left-radius: 1rem;
            border-bottom-left-radius: 1rem;
          }
        }

        .re-game {
          @include game-action-button;
          @include sec-m-button;

          & {
            border-top-right-radius: 1rem;
            border-bottom-right-radius: 1rem;
          }
        }
      }

      .leave {
        button {
          @include button(1.6rem);

          color: $mc0;
          background-color: #0000;
          border-radius: 0;

          &:hover {
            color: $mc4;
            box-shadow: inset 0 -0.2rem 0 0 $mc4;
          }
        }
      }
    }
  }

  &.close {
    background-color: rgba(#000, 0.2);
    pointer-events: all;
  }

  &.close > .winner__content {
    display: none;
  }
}

// resize
