@use "../../../shared/styles/shared.scss" as *;

// intro background section container
.intro-background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  max-width: 100vw;
  height: 100vh;
  background-color: rgba(#000, 1);

  .intro-logo {
    @include abs-center;
    @include flex($gap: 2rem);

    opacity: 0;
    animation: intro-init 1s forwards;

    .intro-svg {
      height: 16rem;
      scale: 0.2;
      animation: svg-init 0.5s 0s forwards;

      @keyframes svg-init {
        to {
          scale: 1;
        }
      }
    }

    .intro-text {
      @include sec-font(12rem);

      width: 0;
      animation: text-init 0.5s 0.5s forwards;

      @keyframes text-init {
        to {
          width: 32rem;
        }
      }
    }

    @keyframes intro-init {
      to {
        opacity: 1;
      }
    }
  }
}

.intro-begin {
  animation: intro-begin 0.5s ease-in 1.5s forwards;

  @keyframes intro-begin {
    to {
      background-color: rgba(#000, 0);
    }
  }

  .intro-logo {
    transform-origin: left;
    opacity: 1;
    scale: 1;
    animation: logo-disappear 0.5s ease-in 1.5s forwards;

    @keyframes logo-disappear {
      to {
        scale: 0;
        opacity: 0;
      }
    }
  }
}

.hidden-intro {
  display: none;
}
