@import "../../Index.scss";

// intro background section container
.intro-background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  max-width: 100vw;
  height: 100vh;
  background-color: rgba(#000, 1);

  .intro-logo {
    opacity: 0;
    animation: introInit 1s forwards;

    @include absCenter();
    @include flex($gap: 2rem);

    @keyframes introInit {
      to {
        opacity: 1;
      }
    }

    .intro-svg {
      height: 16rem;
      scale: 0.2;
      animation: svgInit 0.5s 0s forwards;
    }

    @keyframes svgInit {
      to {
        scale: 1;
      }
    }

    .intro-text {
      width: 0;
      animation: textInit 0.5s 0.5s forwards;

      @include secFont(12rem);

      @keyframes textInit {
        to {
          width: 32rem;
        }
      }
    }
  }
}

.intro-begin {
  animation: introBegin 0.5s ease-in 1.5s forwards;

  @keyframes introBegin {
    to {
      background-color: rgba(#000, 0);
    }
  }

  .intro-logo {
    transform-origin: left;
    opacity: 1;
    scale: 1;

    animation: logoDisappear 0.5s ease-in 1.5s forwards;

    @keyframes logoDisappear {
      to {
        scale: 0;
        opacity: 0;
      }
    }
  }
}

.hidden-intro {
  display: none;
}
//*/

// resize
//*/
