@import "../../../../Main.scss";
@import "../../../../../shared/components/action-button/ActionButton.module.scss";

// bs-friend time selection container
.time {
  @include flex(column, space-evenly, center, 0);

  height: 100%;
  user-select: none;
  padding-left: 2rem;

  &__row {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 2rem 1fr;
    gap: 1rem;
    padding: 0.5rem 0;

    &__header {
      @include flex(row, start, center, 0.5rem);

      grid-column: span 3;
      border-bottom: solid 0.1rem $gc8;
      font-size: 1.6rem;

      .header-icon {
        height: 1.4rem;
      }
    }

    &__block {
      @include rounded(0.5rem);
      @include flex();

      position: relative;
      overflow: hidden;
      font-size: 1.8rem;

      &:hover {
        cursor: pointer;
        background-color: $mc0;
        color: $mc9;
      }

      .timing-tag {
        @include flex();
        @include wh100();

        .num {
          z-index: 1;
          height: 100%;
          font-size: 2.4rem;

          &:nth-child(2) {
            margin-right: 0.6rem;
          }
          &:nth-child(6) {
            margin-right: 0.6rem;
          }
        }

        .char {
          z-index: 1;
          display: flex;
          align-items: end;
          height: 100%;
          font-size: 1.8rem;

          &:nth-child(2) {
            margin-left: 0.6rem;
          }
        }

        .sep {
          z-index: 1;
          font-size: 1.6rem;
          margin: 0.5rem;
        }
      }
    }
  }

  &__cancel {
    @include actionButton(1.4rem);

    margin-top: 2rem;
  }
}
//*/

// resize
//*/
