@use "../../styles/shared.scss" as *;

.not-found {
  @include wh100;
  @include grid-bg;

  position: relative;

  .not-found-header {
    @include abs-center;
    @include flex($direction: column, $gap: 2rem);

    z-index: 1;

    span {
      font-size: 5rem;
    }

    a {
      font-size: 3rem;
      color: $mc4;
      text-decoration: none;

      &:hover {
        cursor: pointer;
        color: $mc9;
      }
    }
  }

  .bg-pawn-svg {
    @include abs-center;

    transform: translate(-50%, -50%) rotateZ(15deg);
    height: 70%;
    z-index: 0;
    opacity: 0.5;
  }
}
