@import "../../../Main.scss";

// default game section view container
.default {
  @include wh100();

  &__container {
    @include flex(column, start, start, 2rem);

    position: relative;
    width: 100%;
    min-height: 50rem;
    height: 100%;
    padding: 6rem;
  }
}
//*/

// resize
@media (max-height: 500px) {
  .default {
    overflow-y: scroll;

    &::-webkit-scrollbar {
      display: none;
    }

    &__container {
      margin-top: 10rem;
    }
  }
}

//*/
