@use "../../styles/shared.scss" as *;

// shared navigation used in main pages
.nav {
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  width: 6rem;
  height: 100vh;
  padding: 4rem 0;
  background-color: #111;
  border-left: solid 0.3rem rgba($mc9, 0.2);

  &__elements {
    @include flex(column, space-evenly, center, 0);

    height: 100%;

    .element {
      @include circle(5rem);
      @include flex;

      position: relative;

      .nav-icon {
        height: 4rem;
      }

      span.ind {
        @include rounded(0.6rem);

        position: absolute;
        right: 100%;
        white-space: nowrap;
        font-size: 1.4rem;
        background-color: $gc9;
        border-left: solid 0.2rem $gc0;
        opacity: 0;
        transition: opacity 0.3s;
      }

      p {
        // placeholder
        display: block;
      }

      &:hover {
        cursor: pointer;

        &::after {
          background-color: rgba($mc0, 0.1);
        }

        span.ind {
          opacity: 1;
        }
      }

      &::after {
        @include sub-class;
        @include abs-center;

        z-index: -1;
        border-radius: 100%;
        filter: blur(1rem);
        transform: translate(-50%, -50%) scale(0.8);
        transition: all 0.3s;
      }
    }
  }
}

// resize
@media (width <= 700px) {
  .nav {
    width: 100% !important;
    height: 6rem;
    padding: 0 2rem;

    &__elements {
      width: 100%;
      flex-direction: row;

      .element {
        span.ind {
          right: unset;
          top: 100%;
        }
      }
    }
  }
}
