@use "../../shared/styles/shared.scss" as *;

// index page container
.home-main {
  @include gridBg();

  width: 100vw;
  max-width: 160rem;
  margin: auto;
  overflow: hidden;
}
//*/

// observe pointer for observers work
.observe {
  position: absolute;
  z-index: 999;
  width: 0;

  // set the observer to middle of section
  transform: translateY(50vh);
}
//*/
