@import "../../Main.scss";

.nav {
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  width: 6rem;
  height: 100vh;
  padding: 4rem 0;
  background-color: #111;
  box-shadow: -0.2rem 0 1rem 0 rgba($mc9, 0.5);

  &__elements {
    @include flex(column, space-evenly, center, 0);

    height: 100%;

    .element {
      @include circle(5rem);
      @include flex();

      position: relative;

      &:hover {
        cursor: pointer;
        &::after {
          background-color: rgba($mc0, 0.1);
        }

        span.ind {
          opacity: 1;
        }
      }

      &::after {
        @include subCl();
        @include absCenter();

        z-index: -1;
        border-radius: 100%;
        transform: translate(-50%, -50%) scale(0.8);
        filter: blur(1rem);

        transition: all 0.3s;
      }

      .nav-icon {
        height: 4rem;
      }

      span.ind {
        @include rounded(0.6rem);

        position: absolute;
        right: 100%;
        white-space: nowrap;
        font-size: 1.4rem;
        background-color: $gc9;
        border-left: solid 0.2rem $gc0;
        opacity: 0;

        transition: opacity 0.3s;
      }

      p {
        @include secFont(3rem);
      }
    }
  }
}
