@import "../../../../Main.scss";

.invite {
  @include flex(column, center, center, 1rem);

  .input-holder {
    @include flex();
    position: relative;

    input {
      @include cInput();
    }

    .input-search {
      margin: none;
    }

    .input-mail {
      padding-right: 4rem;
    }

    .send-icon {
      @include circle(4rem);

      position: absolute;
      right: -0.2rem;

      &:hover {
        cursor: pointer;
        filter: brightness(80%);
      }

      svg.arrow-svg {
        height: 100%;
      }
    }

    button.generate-button {
      @include button(2rem);
      @include secMButton();
    }

    .game-link {
      @include flex(column, start, center, 1rem);

      a.link {
        @include rounded(1rem);
        background-color: $gc9;
        font-size: 1.6rem;
        color: $mc5;
      }

      span {
        text-align: center;
        font-size: 1.4rem;
        color: $gc4;
      }
    }
  }

  .text {
    font-size: 1.8rem;
    text-align: center;
  }
}
