@use "../../../../shared/styles/shared.scss" as *;

@mixin clock-block() {
  @include flex($direction: column, $gap: 0.6rem);

  position: relative;

  .block-icon {
    height: 3rem;
  }

  &::after {
    @include sub-class();
    @include square(2rem);

    content: "+";
    top: -1rem;
    right: 0;
    font-size: 2.5rem;
    text-align: center;
  }

  span {
    &:nth-last-child(2) {
      font-size: 1.2rem;
    }

    &:last-child {
      font-size: 3em;
    }
  }
}

.clock {
  @include flex(row, start, center, 2rem);
  @include rounded(2rem);

  position: relative;
  width: fit-content;
  background-color: rgba(#111, 0.5);
  border: solid 0.1rem $gc9;
  z-index: 1;
  backdrop-filter: blur(1rem);

  &__data {
    @include flex($gap: 2rem);

    .total-games {
      @include clock-block;
    }

    .total-users {
      @include clock-block;
    }
  }

  &__face {
    @include circle(8rem);

    position: relative;
    background-color: rgba($gc9, 0.7);
    border: dashed 0.3rem $gc5;
    overflow: hidden;

    &::after {
      @include sub-class;
      @include abs-center;
      @include circle(0.6rem);

      background-color: $gc5;
      z-index: 9;
    }

    @mixin clock-hand($size, $color, $reduce) {
      @include abs-center;

      width: calc(100% - $reduce);
      height: $size;
      transform-origin: 0 0;

      &::after {
        @include sub-class(50%, 100%);

        border-radius: $size;
        background-color: $color;
      }
    }

    .hour-hand {
      @include clock-hand(0.4rem, $mc9, 40%);
    }

    .min-hand {
      @include clock-hand(0.2rem, $mc5, 20%);
    }

    .sec-hand {
      @include clock-hand(0.1rem, $mc0, 0%);
    }
  }
}

// resize
@media (width <= 700px) {
  .clock {
    display: none;
  }
}
